[2015-09-13 20:46] vors opened #9 "We need to generate SYNTAX entries"
Syntax has to be generated from parameters description, without an explicit entries in markdown.

[2015-09-13 20:51] vors opened #10 "We need a schema and a conversion for PARAMETERS"
Currently there is no way to speficy that parameter is mandatory, belongs to a ParameterSet and so on.

[2015-10-29 20:55] joeyaiello opened #11 "Generate the correct MAML filenames"
Filenames need to have the full XML filename that is compatible all the way to PS 3.0. This differs across script, binary, CDXML, and provider cmdlets.

[2015-10-29 20:56] joeyaiello opened #12 "Generate MD stubs via module reflection"
This is the initial generation of "stub reference" documentation in Markdown for a new module.

Scenario here is to first finish the module and then to generate documentation for later annotation.

[2015-10-29 21:00] joeyaiello opened #13 "Update existing MD from new module syntax"
This is to take new syntactical updates (e.g. a new parameter) to already-documented cmdlets in the Markdown file.

[2015-10-29 21:01] joeyaiello opened #14 "Validate the syntatical Markdown against the reflection"
This is to ensure that the syntax, parameters, etc. (syntax goo) actually matches what is in the module.

[2015-11-13 04:35] #10 closed, assigned to vors

[2015-11-14 03:30] vors opened #17 "Address parser performance issues"
MarkdownStringToMamlString must be fast (less then a minute for this file)

[code]

[2015-11-14 03:32] #9 closed, assigned to vors

[2015-11-20 00:33] vors opened #18 "Add line-breaks after `.` in generated Markdown for readability"
Suggestion come from June.
Huge chunks of text are unappealing in the raw view.

[2015-11-20 01:38] vors opened #19 "RelatedLinks sections should put links on separate lines"

[2015-11-20 18:55] vors opened #20 "Schema 2.0.0 discussion"
Can we support tables for parameters metadata?

[2016-01-16 01:10] #17 closed, assigned to vors

[2016-01-26 20:33] vors opened #21 "Support arbitrary file grouping and folder-based *.md sources"
It's easy to implement, but we really need it.
Arbitrary grouping would allow somebody to group cmdlets by the meaning inside one dll.

[2016-01-27 23:01] vors opened #22 "Replace string* by SupportsWildcardsAttribute"
There is a special attribute [SupportsWildcards()] to achive what I did with a `string*` hack.
Unfortunately, looks like I cannot parse out this info (globbing) from the snippet.

[2016-01-28 00:03] vors opened #23 "Figure out markdown escaping"
Currently we escape `<` and `>` as `\<` and `\>`, but we don't correctly handle `\foo\bar\<baz>\foo` case.

[2016-01-28 03:12] #22 closed, assigned to nobody

[2016-01-28 03:12] #18 closed, assigned to nobody

[2016-01-28 03:51] #19 closed, assigned to nobody

[2016-01-28 05:52] #23 closed, assigned to nobody

[2016-02-04 21:58] vors opened #24 "Dogfood documentation process"
Tool is not ready, until it cannot be used to work on itself.

[2016-02-05 19:05] #24 closed, assigned to vors

[2016-02-05 19:55] #12 closed, assigned to vors

[2016-02-05 23:37] vors commented on #21
Fixed in 0.1.0.200

[2016-02-05 23:37] #21 closed

[2016-02-10 01:08] vors opened #25 "Generate folder of *.md files for each command in maml -> md conversion"

[2016-02-10 02:30] #25 closed

[2016-02-11 20:33] vors opened #26 "Need a one-command experience to get the result help from maml"

[2016-02-11 21:33] vors opened #27 "Get-Help run Update-Help and it causes problems in CI"
https://ci.appveyor.com/project/lzybkr/psreadline/build/1.0.13

[2016-02-11 23:59] rkeithhill opened #28 "Get-platyPSExternalHelp should have a -MarkdownFilePath parameter that takes a path"
Yeah, I "could" use:
[code]
but I'd rather use:
[code]

[2016-02-12 00:18] rkeithhill opened #29 "Example to view generated help errors out"
This is what I get:
[code]
Could it be that your example is working because you're working in the platyPS out dir (where there is a real module)?

[2016-02-12 00:20] vors commented on #27
Fixed

[2016-02-12 00:20] #27 closed

[2016-02-12 00:20] vors commented on #26
Fixed

[2016-02-12 00:20] #26 closed

[2016-02-12 00:24] vors commented on #28
Thanks Keith!
Totally agree.

[code]

And then if it's a path it's treated as a path to .md file, if it's not a path it's treated as markdown?
I currently do the same logic for `Get-PlatyPSMarkdown -maml`.

Also, it's probably worth to add `-OutputFile` parameter

[2016-02-12 00:34] vors commented on #29
No, it should not be.
New-PlatyPSModuleFromMaml generates module an put's .xml copy in en-US folder.

I just added a better way to preview changes in v.0.3.0:

[code]
Can you try `Get-PlatyPSTextHelpFromMaml`?

With it, I would probably remove New-PlatyPSModuleFromMaml from exposed functions, because it's really an implementation detail.

[2016-02-12 00:34] rkeithhill commented on #28
Can this command process multiple markdown files at once and stick them in a single maml file?  I suspect that is what the `MarkdownFolder` is for.  However I like my PowerShell commands to get me flexibility e.g.:
[code]
It might be better to have separate parameter sets for files vs markdown content as a string.  FWIW, I think the "file" usage case would be way more common, right?

[2016-02-12 00:36] rkeithhill commented on #29
Yes, that works!!  Thanks.   PS. You might want to update your project readme.md to use that in Example 3.

[2016-02-12 00:50] rkeithhill commented on #20
I guess the issue is how to render tabular text in the console?  Guess you could "remove" the table from MAML leaving it just in the markdown file?  That said, it would be nice to have in the markdown for online viewing.

BTW you say that the team is using markdown for DSC.  So is this [page ](https://msdn.microsoft.com/en-us/powershell/dsc/archiveresource) is markdown converted to HTML?

Just thi

[2016-02-12 01:01] vors commented on #20
Right :)

There are no problem in the first part actually:
we just tried to make a short-cut and avoid tables in our home-written [markdown parser](https://github.com/PowerShell/platyPS/blob/master/src/Markdown.MAML/Parser/MarkdownParser.cs) by @daviwil . There is nothing that prevents us to replace this

[code]

by this

    | Parameter | Value      |
    |----------|---------|
    | Mandatory |

[2016-02-12 17:41] sankethka opened #30 "Need to error out if module is not imported: filename not created when converting module to Markdown"
After a conversion of module to MD, the folder has '.md' i.e. file name is empty.
![emptyfilename](https://cloud.githubusercontent.com/assets/16908144/13015233/d5aecdec-d16c-11e5-84e7-5d124c407ca5.JPG)

[2016-02-13 00:37] vors commented on #30
From http://www.joelonsoftware.com/articles/fog0000000029.html

Can you please add first two parts?

[2016-02-16 17:40] sankethka commented on #30
Ofcourse.
Here are the steps:
Created a folder called Testmd5
Tried to convert the security module to markdown -> get-platypsmarkdown -module Microsoft.PowerShell.Security -OutputFolder 'C:\Users\sanketha\Desktop\Office\CSI\Gi
os\platyPS\Examples\testmd5' -OneFilePerCommand

After the script ran - I got an file without file name. Also the MD file has contents about converting to Json. this seems t

[2016-02-16 20:05] vors commented on #30
Just tried it with platyPS versions 0.2.0 and 0.3.1 and it works for me.
I would need to take a look at your machine.

[2016-02-16 22:19] vors commented on #30
after debugging with @sankethka offline it turns out that Microsoft.PowerShell.Security was not imported, so `get-module Microsoft.PowerShell.Security` return null. I need to add a error message, when module is not imported.

[2016-02-16 23:33] vors opened #31 "Import of the module fails on zh-ch (chinese) locale"
On the line 871, there is a special symbol `$text -replace '–','-'`
It's parsed incorrectly, when locale is not en-US.

[2016-02-17 17:25] randomchance commented on #20
I'm pretty sure the second format (with the `---` above and below) is the "Front Matter" for Jekyll (The github pages static site processor). It's just metadata in YAML syntax used to make the page so that's why it only works at the top of the page.

It's unfortunate that there is not a single spec for Markdown, but [GitHub Flavored Markdown][1], [Markdown Extra][2], and [MultiMarkdown][3] all sup

[2016-02-17 20:15] vors commented on #20
@randomchance glad to hear it :)

I'm tend to aim in tables direction for schema v2.
Also, we want to shift the focus from just a source for markdown for a fully-functional replacement for help. I.e. in the current schema there is no **Syntax** section, so you cannot glance at the rendered markdown and figure out syntax in the complex case. On the other hand, writing syntax by hands is tedious, so

[2016-02-17 23:01] rkeithhill commented on #20
Given what I've seen from Oisin's investigation into ANSI support in an upcoming version of conhost.exe (hopefully Redstone), I'd love to see more a direct markdown viewer app or PowerShell.  :-)

That said, yes I would like to see tables primarily for the markdown rendered for the online version of the markdown file (but see above for Windows side rendering in PowerShell).

WRT Syntax, I've alway

[2016-02-18 02:50] vors commented on #20
@rkeithhill that's interesting. What's Provider column mean?
What about ValidateSet attribute value?

I feel it's too verbose to incorporate this pattern as is, but I like the direction of your thought.
It maybe a good opportunity to improve other weak points of help system (not only maml as a source).

Can you elaborate what is weak about existing **Syntax** output section?

[2016-02-18 03:44] rkeithhill commented on #20
The Provider column is handy to for "provider provided" dynamic parameters that apply only to certain providers.  For instance, the Get-ChildItem -File parameter applies only to the FileSystem provider.  That parameter doesn't apply to paths like hklm:\, wsman:\ or cert:\.

Yeah it is provides a lot of info that is currently spread out between the Syntax section and the Parameter section.  There i

[2016-02-22 17:36] KiloNiner opened #32 "Is #### {Input type} by design?"
in platyPS.schema.md, `{Input type}` is preceded by four #, where I would have expected the nesting level to be at three #, as is the case for `{Parameter name}`, `{Output type}` and `{Example Name}`.

Is this a design choice or a nesting error introduced in bbeba47?

[2016-02-22 17:41] KiloNiner commented on #32
Seems to be an error. Submitting pull request to the template.

[2016-02-22 17:45] KiloNiner commented on #32
Created pull request #33.

[2016-02-22 20:09] vors commented on #32
Good catch, thank you!

[2016-02-22 20:09] #32 closed

[2016-02-23 21:53] vors commented on #31
## Repro
Repro requires reboot to change locale

[code]

### Expected
Import works as normal

### Actual

[code]

[2016-04-06 20:22] jongeller opened #35 "Add cabinet creation cmdlet to PlatyPs"
Add the ability to compress prepared help files to a cabinet. This enables the creation of downloadable packages that can be used with Update-Help. Use MakeCab.exe as it is commonly available on Windows operating systems.

# New Functionality - New-PlatyPsCabinet
Add a script cmdlet to platyPs that will utilize the makecab.exe to compress target files into a cabinet.
The name of the cab which must

[2016-04-06 21:03] jongeller opened #36 "Add help.xml proper naming convention cmdlet to PlatyPs"
Add a cmdlet to PlatyPs the properly names a help.xml file for use.
Help files need to be specifically named in order for the PowerShell help engine to find them. There must be a help file corresponding to each cmdlet-providing code file, DLL, CDXML, PSM1.

# New Functionality - Format-PlatyPsHelpXml
This cmdlet will take the name of a file that contains the code for a Powershell module's cmdlets.

[2016-04-07 21:37] sankethka opened #37 "Need a solution to generate About topics"
PlatyPS doesn't yet have a solution to generate providers data. Need a solution in place to handle this content.

[2016-04-07 21:39] sankethka opened #38 "Updating published Markdowns with new code changes in the PS Module (Update-Markdown)"
Need a solution to address this Scenario:

We have markdown files for a module already published. Module gets updated with either a new cmdlet or changes to parameters for an existing cmdlet. How do we get the published markdowns updated with the new changes.

[2016-04-07 21:48] sankethka opened #39 "April/May 2016 Deliveries"
- [x] Finalize on cmdlet Template - Issue #34 - Complete by April 14
- [x] Updating published Markdowns with new code changes in the PS Module -Issue #38 - Complete by May 13
- [ ] Need a solution to generate Providers and About - Issue #37 - Complete by June 3
- [x] Add cabinet creation cmdlet to PlatyPS - Issue #35 - Complete by April 22
- [x] Add help.xml proper naming conversion cmdlet to Plat

[2016-04-08 19:10] vors commented on #38
Also known as "diff-merge scenario", right @sankethka?

[2016-04-08 19:11] vors commented on #11
This would be addressed as a part of #36

[2016-04-08 19:11] #11 closed

[2016-04-08 19:32] vors commented on #13
dup for #38

[2016-04-08 19:32] #13 closed

[2016-04-08 19:36] vors commented on #14
dup for #13

[2016-04-08 19:36] #14 closed

[2016-04-08 19:37] vors commented on #29
Note for myself: remove public `New-PlatyPSModuleFromMaml` from the next version.

[2016-04-08 19:49] sankethka commented on #38
That's correct. @vors

[2016-04-08 20:38] vors commented on #35
@jongeller maybe shorten it to `New-PlatyPsCab` ?

[2016-04-08 21:03] vors commented on #20
. @joeyaiello added the [current proposition](https://github.com/PowerShell/platyPS/blob/master/platyPS.schema.md#version-200-not-implemented-yet-discussion) for the schema 2.0.0

I'm going to implement it April.
If you have any concerns about it, please let me know sooner, so we can address them earlier in the implementation process.

[2016-04-08 22:01] vors commented on #20
About new `SYNTAX` entry

[code]

This level-2 entry is different from other entries. It's a read-only thing, and when you change something, you run the tool and it tells you how you need to update it (if you do) to make it consistent with `PARAMETERS` metadata.

Now, we need a redundancy in Parameter Set information. We need it in `PARAMETERS` section as well as in SYNTAX. We paining price of red

[2016-04-12 20:02] jongeller commented on #35
Not a problem, that is what I call it. I just wasn't sure customers would get it right away.

[2016-04-12 21:38] jongeller commented on #36
In thinking about this more.... is it safe to assume that platyPS will be installed on a machine hosting the module?
If so, the requirement on this could change such that you only need to pass in the name of the module, instead of the code file that provides the cmdlets.
The cmdlets could then go and identify the file automatically and generate a properly name help.xml (MAML) for each code file.

[2016-04-13 20:30] vors opened #42 "Support line breaks inside long SYNTAX entries"

[2016-04-14 01:19] vors commented on #20
Couple more things about existing technet content.
As an example of tehcnet docs, see [Add-Computer](https://technet.microsoft.com/en-us/library/hh849798.aspx)

### Param Sets
They are present on the technet! But they don't get their own entries in MAML.
I'm pretty convinced, we should include parameter set names in `## SYNTAX`

### EXAMPLE

@sankethka brought it up previously:
In the `EXAMPLES` s

[2016-04-14 02:45] vors commented on #20
Another question is: how to express the (corner case) fact that different parameter sets allows us to use different metadata for the same parameter?

Consider the following
[code]

Help output is
[code]

(BTW, note how "Parameter set name" is present on this help object, but on on the object from MAML xmls).

The information that `-argCommon` can be both Mandatory and non-Mandatory is captured in

[2016-04-14 18:28] vors commented on #20
@jongeller pointed out that we can get parameter sets names from the reflection with

[code]

[2016-04-14 22:17] vors commented on #20
Here is the proposed flow of all transformations that we are going to consider and enable with BLT release.

[code]

[2016-04-18 18:55] Jaykul commented on #20
I would love to see PowerShell ship Get-Parameter, or at least, something with the same information format from Get-Help.

Although `Get-Help` now properly includes the information about whether a parameter supports pipeline input, there are (_still_) crucial pieces of information there that just aren't available in help (parameter aliases, and the fact that parameters come from providers), and fr

[2016-04-21 02:03] vors opened #45 "Implement [Help Object] -> [MamlModel] transformation"
Since, there Get-Help output contains a bunch of [PSObject] with NoteProperties, it's much simpler to do it in PS then in C#.

[2016-04-21 02:06] vors commented on #20
@Jaykul I would love to see it too :)

I implemented [Maml Model] -> MarkdownV2 arrow from the diagram in `vors/new-schema` branch.
I opened #45 for another critical arrow in this data flow.

[2016-04-21 02:22] vors commented on #20
Update: you can check out schema v2 example for PSReadLine here:
https://github.com/PowerShell/platyPS/blob/vors/new-schema/Examples/PSReadline.v2.md

cc @jongeller @joeyaiello @DonGill @sankethka

[2016-04-21 02:27] vors commented on #42
Fixed in `vors/new-schema` branch

[2016-04-21 02:27] #42 closed

[2016-04-21 20:11] jongeller commented on #35
Added all required code changes to fix remaining pester test cases. The branch jongeller/FixPesterTests has all of the code, a pull request into master is pending.

[2016-04-21 23:02] vors commented on #35
Implemented and merged to master

[2016-04-21 23:02] #35 closed

[2016-04-25 17:14] jongeller commented on #45
Starting work on this. @vors working on the Input section. I think we need to add the Parameter Name that this input corresponds to, and probably also the Parameter Set. It's very ambiguous right now what the input corresponds to.

Also, I am assuming that an Input matches the ValueFromPipeline = True.
If there are more cases that allow something to be an input, please let me know on this thread..

[2016-04-26 17:29] jongeller commented on #45
Looks like assigning the Parameters section of the MAML Command Object will not be possible. The only public properties for that list are the get. It's a private set and so I can't access it through the PowerShell script.

[2016-04-26 19:15] vors commented on #45
@jongeller all `List<...>` fields in the model are read-only. But they are empty, when you create object. Then, you just add to the list with `.Add(...)` method.

[2016-04-26 19:19] jongeller commented on #45
I've used ```.Add(....)``` for most of the lists. But they all have Get/Set, the Parameters list is the only one that doesn'

[2016-04-26 20:14] vors commented on #45
feel free to change it

[2016-04-27 14:59] jongeller commented on #45
@vors you were right.... didn't need to change it. Feel silly :/
Adding the Params is working now.
I implemented it by looping through the Parameter Set params and adding each uniquely named parameter once. This way you get the entire default parameter set, and also get any extra params from other sets.

[2016-04-27 15:01] jongeller commented on #45
Still can't grab a few values.
[code]
I think the only way to find them is to interrogate the Help File using the XML parser. The live objects in PowerShell returned from Get-Help and Get-Command don't seem to contain Value Required, ValueVariableLength and ParameterValueGroup. Which are different from the Required and Variable Length values according to our schema.

[2016-04-27 15:23] jongeller commented on #20
Another suggestion for what we could add to the schema.
Data I'm finding available in the Get-Command and Get-help object return include. These might be useful for a more detail reference profile of a cmdlets.

Input object:
1) Parameter Name the input corresponds to
2) Parameter Set - inputs can predicate with paramset is used.

For these, or some of these, I was thinking a yaml block at the begi

[2016-04-29 20:55] vors commented on #45
@jongeller oh, yes. That part I didn't figure out actually.
I just added some [heuristic](https://github.com/PowerShell/platyPS/blob/master/src/Markdown.MAML/Transformer/ModelTransformer.cs#L600) that make sense in my opinion and it seems to work fine so far.

[2016-05-02 18:53] vors opened #47 "Allow ------- lines for general purpose delimiters in our schema"
It's not easy to distinguish a start of a new command.
We need to make it obvious.
I.e. we can use plenty of padding and `------` lines.

[2016-05-02 19:03] vors opened #48 "Remove New-PlatyPSModuleFromMaml export as a public API"
This API is an implementation detail and not interesting for the end users.
Lets remove it.

Note: our test infrastructure still may want to use it. We can use `& (Get-Module platyPS) {..}` workaround to enable it.

[2016-05-02 19:04] vors commented on #29
Won't fix, because of #48

[2016-05-02 19:04] #29 closed

[2016-05-04 21:15] vors opened #49 "Add Upgrade schema capability (Update-Markdown)"
We should have a separate cmdlet to upgrade from old version of schema to a new one.

[2016-05-04 21:18] vors commented on #20
@jongeller For the former (yaml section support in notes), I would not include it in the current version of schema, because it's something new compare to our existing technet and Updateble help content.
We can include it in schema 2.1.0, if we feel it's needed (as a non-breaking addition).

[2016-05-04 21:28] vors commented on #20
We are planning to add couple more things:

### Padding
allow arbitrary padding in markdown. @lzybkr pointed out that it's hard to distinguish where one cmdlet ended and new started. I think allowing separator `-------` padding in arbitrary places would help there a little bit.
It will look like this

[code]

### Top-level metadata block

Adding a yaml metadata block support at the top of the page

[2016-05-05 02:57] vors commented on #20
@jongeller @joeyaiello what's a good name for `ValidateSet()` analog in metadata-yaml for parameters? 'Accept values' ?

[code]

[2016-05-05 15:47] randomchance commented on #20
@vors  I believe the  separator `------- ` padding renders as a horizontal rule . I think it's a great idea when you only have one of them, but having multiple like your example will look really strange...

You might have meant it would be used only singularly, but I just wanted to clarify.

I included a slightly modified version of your example to show how I interpreted it, and then pasted it in

[2016-05-05 18:16] vors commented on #20
@randomchance agree, lots of lines looks weird. But I'm not sure that one line is enough to provide a visual anchor during a casual scroll. Maybe 2 lines perhaps?

I added different options in the PSReadLine [example](https://github.com/PowerShell/platyPS/blob/vors/new-schema/Examples/PSReadline.v2.md). Can you casually scroll thru it to see how they looks?

[2016-05-05 19:53] jongeller commented on #20
@vors RE: ValidateSet - do you mean a name that is easy to read for a user?
If so, I like any of these: Acceptable Parameter Values, Valid Values, Permitted Values, Allowed Values

[2016-05-05 19:53] randomchance commented on #20
Looking over it now - is this targeted at making the separation clearer in the raw markdown form, the rendered version, or both?

I ask because rendered version is going to be completely dependent on the styling applied. For instance, the github styling adds a line under every header, making the single horizontal rule easy to loose in the page. However the [CommonMark Interactive](http://spec.comm

[2016-05-05 19:54] vors commented on #20
@jongeller cool, I don't want use 3 words and `Valid` rhymes with "ValidateSet" so I will go with `Valid Values`

[2016-05-05 20:05] vors commented on #20
@randomchance thank you for the thoughtful opinion. Yes, separators only comes into play, when we combine few cmdlets into one file. Which would be handy for small projects (like platyPS or PSReadLine). For big projects (like azure-powershell) one cmdlet per file is a better option and there are no problems with padding. For particular styling I'm biased to treat GitHub way of rendering as a stand

[2016-05-05 20:26] randomchance commented on #20
That makes sense. It probably doesn't sound like it but I like keeping it simple :)

In the PSReadLine example I like the double lines the best. I think it would be nice to have a blank line in between them, it renders the same on github and seems to be more likely to render as expected in other implementations.

********************************

********************************

[code]

[2016-05-05 20:27] lzybkr commented on #20
I never considered different files for each cmdlet - that actually is a good idea - I support that even for small projects.

[2016-05-05 20:43] randomchance commented on #20
I try and keep all of our internal stuff scoped per cmdlet, it has really paid dividends by making identifying what changed in version control simple. For something like this it might simplify parsing as well, though there is initial overhead.

[2016-05-05 22:41] vors commented on #20
Ok, then I would not worry too much about padding support for now (we can include it minor update of schema). We will promote one cmdlet per file use case as the recommended way.

[2016-05-05 23:23] Jaykul commented on #20
I've been holding back, but I want to strongly endorse the 1 file per cmdlet option. Can't we just make that part of the requirements?

[2016-05-09 19:58] vors opened #51 "Make one cmdlet per file the default"
Per discussion in #20 , everybody agreed that it's a good idea to enforce one cmdlet per file policy for the help. Hence, we should make it the default.

I would not pull out support for multiply cmdlets in the same file, but an APIs to bootstrap such markdown would be de-promoted from default to exotic.

[2016-05-09 19:59] vors commented on #20
Great, opened #51 for it

[2016-05-09 20:01] vors commented on #47
Not needed, per #51

[2016-05-10 18:45] jongeller commented on #36
@sankethka @vors
Added the pester test and solution for this. Please take a look.

[2016-05-10 18:46] #36 closed

[2016-05-10 19:54] vors commented on #48
Done

[2016-05-10 19:54] #48 closed

[2016-05-10 19:55] vors commented on #45
Done.
There are some quirks, but we are going to polish them.

[2016-05-10 19:55] #45 closed

[2016-05-10 19:56] vors commented on #31
I removed this code `$text -replace`, it should not fail now.

[2016-05-10 19:56] #31 closed

[2016-05-10 21:36] vors opened #55 "Do we want to keep Common Parameters with explicit help entries?"
There are [common parameters](https://technet.microsoft.com/en-us/library/hh847884.aspx) in PowerShell.

There is a content help difference between [v4](https://ci.appveyor.com/project/PowerShell/markdown-maml/build/0.3.1.357) and [v5](https://ci.appveyor.com/project/PowerShell/markdown-maml/build/0.3.1.359)
[code]

To resolve it properly, I'd like to rise a conceptual question:
Is it a legitimate

[2016-05-10 21:57] vors commented on #55
For this common parameters, developers don't add a specific implementation:

[code]

So I don't think there is a point in documenting them separetely, they all are described in about_CommonParameters.

Meanwhile, these guys
[code]
require cmdlet developer implementation. So there could be nuances in the behavior that worth documenting. They "common" part is in the fact that they have shared semant

[2016-05-12 17:45] vors commented on #37
Same for about topics

[2016-05-12 18:19] jongeller opened #58 "Get-Help -Online parameter, required functionality"
Creating this issue to ensure we test this functionality
When get-help is run against a cmdlets, if the -online parameter is used, an web page will be opened where the published version of the help can be seen.

The link data is available in the related links section, but the documentation authors need to be sure this will work once the conversion from MD to MAML is performed.

[code]
This link, i

[2016-05-12 19:40] vors commented on #20
Thank you @Jaykul @randomchance @lzybkr @rkeithhill @jongeller for the discussion! Implementation for schema 2.0.0 is in master and I'm closing this issue.

[2016-05-12 19:40] #20 closed

[2016-05-12 19:51] vors opened #59 "Cmdlets renaming"
I think current name looks pretty unfun.
I'd like to drop `platyPS` prefix and do other small tweaks.

* Get-PlatyPSMarkdown  -> New-Markdown  (semantic changed after #51, so verb change)
* Get-PlatyPSYamlMetadata -> Get-MarkdownMetadata
* Get-PlatyPSExternalHelp -> New-ExternalHelp (we want to embeed information about naming convention in markdown metadata, so semantic would change: it would drop

[2016-05-12 20:02] sankethka commented on #59
@vors Much better....

[2016-05-12 20:03] kilasuit commented on #59
Create is a very underused verb as isn't recommended as below

New (n)
Creates a resource. (The Set verb can also be used when creating a resource that includes data, such as the Set-Variable cmdlet.)
For this action, do not use verbs such as Create, Generate, Build, Make, or Allocate.

Therefore I'd stick with New for the verbs

[2016-05-12 20:05] kilasuit commented on #59
The above is detailed in https://msdn.microsoft.com/en-us/library/ms714428(v=vs.85).aspx

[2016-05-12 20:16] vors commented on #59
@kilasuit good point, thank you. I'm updating the proposal

[2016-05-12 20:47] vors commented on #28
Fixed per 6a73a1766537c474e61ec9eaad5bc10da066bf12

[2016-05-12 20:47] #28 closed

[2016-05-12 20:50] vors commented on #59
* new cmdlet from #49 -> Update-Markdown

[2016-05-12 22:34] vors commented on #59
I did rename in 055292e0888019b7330327706ea5a80903c1cf40

[2016-05-13 06:42] #49 closed

[2016-05-13 06:43] #59 closed

[2016-05-13 22:10] vors commented on #38
Implemented, merged in master

[2016-05-13 22:10] #38 closed

[2016-05-13 23:45] vors commented on #55
We also want to CommonParameters token at the end

[2016-05-14 00:41] vors opened #63 "Enhance New-Markdown for bootstraping"
New-Markdown should have -OnlineHelp <string> (issue #58 )

[2016-05-14 00:44] vors commented on #63
Also, we want placeholders, i.e. example

    ### Example 1
[code]

    {{ Add example description here}}

[2016-05-14 00:48] vors opened #64 "Add remote capability for New-Markdown and Update-Markdown"
In Microsoft, it's a common practice to provide a VM with installed module to a techwriter.
We should support remote execution for scale.

[2016-05-14 05:33] vors commented on #63
Also we need to expose metadata hashtable, but only for `FromCommand` parameter set.

[code]

[2016-05-14 05:34] vors commented on #63
Probably `Update-Markdown` needs a new parameter set to update just metadata

[2016-05-14 06:50] vors opened #65 "New cmdlet Test-Markdown"
Scenarios:
- Verify that markdown is compliant with schema
- Verify / report that all text fields are filled (i.e. NOTES, description placeholders)

Scenarios to consider:
- Verify markdown metadata keys. It's needed for a large scale pipelines, i.e. if MS adopts platyPS. Maybe create a Test-MarkdownMetadata instead?

[2016-05-14 06:53] #39 closed

[2016-05-14 18:21] kilasuit commented on #65
Surely the verb should be Test?

I've yet to see Verify being used and it isn't listed on https://msdn.microsoft.com/en-us/library/ms714428(v=vs.85).aspx either

[2016-05-14 19:21] vors commented on #65
@kilasuit I was sure it's an approved verb, didn't check the list, thank you!

[2016-05-15 15:46] dotps1 opened #66 "Dynamic Param of type Swtich defaulting to mandatory."
I have a function that has a dynamic param set, and there is a switch that is not mandatory, but it is not explicitly set to false, and the markdown outputs Mandatory as true.  If I add `Mandatory = $false` it will output correctly, so I am guessing it is just defaulting to $true?

*edit
this only seems to happen on param of Type Switch, i have a String param, that one is also not mandatory, and n

[2016-05-15 16:21] dotps1 commented on #66
so, nevermind, i must have been doing something wrong on my end.

[2016-05-15 16:21] #66 closed

[2016-05-15 18:59] vors opened #68 "Fix documentation"
Before next release

- src\platyPS\docs
- README.md with updated scenarios

[2016-05-15 23:40] vors commented on #30
Fixed per 9632f59

[2016-05-15 23:40] #30 closed

[2016-05-16 03:16] squid808 opened #69 "Suggestion for generated markdown header"
Hello! This tool looks great, and I plan to use this to help automate my github wiki very soon! However, I see in the newest version (from the repo, not from the PoSh Gallery) that the New-Markdown shows a header, even on [your pages](https://github.com/PowerShell/platyPS/blob/master/src/platyPS/docs/New-Markdown.md). For instance:

    ---
    external help file: gShell.dll-Help.xml
    schema: 2

[2016-05-16 03:39] vors commented on #69
Glad to hear you like the project!
We are preparing release 0.4.0 with support for schema 2.0.0 and new cmdlets, stay tuned.

Yaml header format is not a part of common mark spec (which we are trying to follow), but it's widely used by different tools:

- [Octopress](https://gist.github.com/zanshin/1222884)
- [PowerShell-Docs](https://github.com/PowerShell/PowerShell-Docs/blob/staging/scripting/Po

[2016-05-16 03:58] squid808 commented on #69
Interesting, I hadn't run in to it before and therefore hadn't realized it was more than just an informational header - thanks for that info.

As to why I'm requesting, I am a [poor soul](http://vignette2.wikia.nocookie.net/simpsons/images/8/8c/Patches.png/revision/latest?cb=20130721183102) who is only able to host my files here on github. My goal is to allow my project wikis to be my online docum

[2016-05-16 07:03] vors commented on #69
I see, thank you!
I think it's a reasonable request.

[2016-05-16 13:11] dotps1 opened #70 "Inputs and Outputs are not making it to the md files"
when using the `New-Markdown` cmdlet, the inputs or outputs are not being populated (using a build as 2016-05-16, 9:11 EST).

I am digging into the code to see if i can determine why.

[2016-05-16 14:56] jongeller commented on #55
I think that this is why we have the notes section. Assuming the implementation stays the same. I worry that it would be really hard to analyze this and have automation that could make the right decision.

I'm not against allowing, more I'm against permitting creating workarounds for each use case that could come up if we allowing explicit overrides.

[2016-05-16 16:28] jongeller commented on #58
After talking with @sankethka we agreed, that though this data populates in the Related Links section of the MAML. It does not make sense as something that should be seen in the Markdown.

@vors -
Can we add this to the metadata section at the top of each Cmdlet MD page?

something like this:
[code]

[2016-05-16 16:40] jongeller commented on #37
So, adding in a sample help file. This is the text version. We need to create a simple MD schema for these, and then create a conversion mechanism.

[code]

[2016-05-16 17:19] jongeller commented on #37
In markdown this seems to be pretty straight forward.

---

# Heading
Content
#### Subsection Heading
Content

---
In the text file we can assume this:
1) Anything in a text file without indent is some kind of heading.
1A) Headings in ALL CAPS is a 'Heading'
1B) Headings in mixed case is a 'Subsection Heading'
2) Anything indented is meant to be content.

Transforming that from MD to Text might be

[2016-05-16 17:32] jongeller opened #71 "Module Level Markdown w/ Metadata to generate Cab and Help Info"
We need to create a markdown file that summarizes all of the cmdlets in the module. It will also contain the metadata at the module level that is required for creating a cab.

Here is the example:
[Windows PowerShell Management Cmdlets - Landing Page] (https://technet.microsoft.com/en-us/library/hh849827.aspx)

We need, at least:
#### For the Cab
- Module Name
- Module GUID

#### For the HelpInfo

[2016-05-16 18:02] jongeller commented on #70
@dotps1
Let me know if you id root cause. I'm going to be submitting an update to the script that is used by New-Markdown addresses input and output objects, today. Lets see if the cause is fixed or not.

[2016-05-16 18:51] dotps1 commented on #70
sounds good, i keep a look out for the merge to master.  thanks!

[2016-05-16 20:31] vors commented on #58
We tried it out with @sankethka on Friday and found that it's just a regular relatedLink entry. There is nothing special about this link as far as maml concerns.

I already added a code in `vors/new-markdown` branch to expose this option for `FromCommand` parameter set. Let's keep it simple and as is.

[2016-05-16 22:13] vors opened #75 "Generic way to customize generated markdown"
This is far in the future, but I want to capture this idea now.

There are write-only scenarios for generated markdown:
Examples:
- github wiki ( issue #69 )
- DocFX docs with [cross-references](http://dotnet.github.io/docfx/tutorial/Build%20your%20own%20type%20of%20documentation%20with%20custom%20plug-in.html)

It may be desirable to customize them somehow. I.e. do post-processing on cross-refere

[2016-05-16 22:18] sankethka commented on #55
@vors @jongeller There is also workflow parameters that are supported by some Cmdlets. For example take a look at this Cmdlet [Add-mpPreference](https://technet.microsoft.com/en-us/library/dn433281.aspx) and scroll down to section right about Inputs section.

[2016-05-16 23:26] vors opened #76 "Need log for Update-Markdown"
Requirement from @sankethka

[2016-05-16 23:58] vors opened #77 "Schema 2.0.0: add a hypen in front of parameter names"
Before:

### ScriptBlock
The ScriptBlock is called when the Chord is entered. The ScriptBlock is passed one or sometimes two arguments. The first argument is the key pressed \(a ConsoleKeyInfo.\)  The second argument could be any object depending on the context.

[code]

After:

### -ScriptBlock
The ScriptBlock is called when the Chord is entered. The ScriptBlock is passed one or sometimes two arg

[2016-05-17 00:01] vors commented on #37
@juneb's template https://github.com/juneb/PowerShellHelpDeepDive/blob/master/about_Topic_Template.help.txt

[2016-05-17 00:39] vors opened #79 "Release 0.4.0"
- [x] Fix [all issues](https://github.com/PowerShell/platyPS/milestones/0.4.0)
- [x] Make a release to PSGallery
- [x] Update PSReadLine

[2016-05-17 00:40] #63 closed

[2016-05-17 00:49] dotps1 commented on #77
i like it, it really, to me anyway, implies that it _is_ a parameter.  especially at first glance.

[2016-05-17 02:13] vors commented on #58
Fixed

[2016-05-17 02:13] #58 closed

[2016-05-17 13:08] dotps1 commented on #47
i agree with this.  I use these when i make my MD docs

[code]
i think it gives it a little structure when the markdown is rendered.

* examples [here]( http://dotps1.github.io/WinSCP/cmdlets.html)

[2016-05-17 13:59] dotps1 commented on #70
so, not sure what is going on.  here are my findings.

if i do things manually, and start in the psm1 on line 999.  and run this on my own advanced function, i have a few concerns.

on line 1001:
[code]
on line 1022:
[code]
that if block will never get hit.  because even if there is no help written, `$help` with neither be $false or $null, so that code will _never_ run.

so to my next point, if i

[2016-05-17 14:21] jongeller commented on #47
Agreed. The lines are useful between sections.

However, if we do use them inter-section, we will need something additional between cmdlets.

 **{Cmdlet 1 Section A}**

---
 **{Cmdlet 1 Section B}**

_Maybe a double line for simplicity?_

**{Cmdlet 1 Content}**

---
---

**{Cmdlet 2 Content}**

[2016-05-17 14:23] dotps1 commented on #47
I thought each cmdlet was in its own markdown file, so there should only be one command per file?  or am i missing something?

[2016-05-17 14:25] jongeller commented on #70
I'll try to be on Glitter today. I think I'm on this most of the day trying to get it solved.

@vors and I got blocked on getting the changes merged in last night, so I am doing that now. Some of what you mentioned above is getting fixed, as we are approaching the inputs differently, taking it from the help file (if it exists) instead of trying to generate them via the Get-Command object.

Though

[2016-05-17 14:25] jongeller commented on #47
you know what, your right. I'm thinking of schema 1.0. It's 7am here, apologies.....

[2016-05-17 14:27] dotps1 commented on #47
LOL no worries.

[2016-05-17 14:52] dotps1 opened #82 "Dynamic Parameters support"
yesterday, my dynamic parameter sets where getting exported in New-Markdown, but this is no longer happening as of building this morning.

[2016-05-17 17:01] vors commented on #70
@jongeller ok, lets chat on gitter.
I will take take care of this issue.

There is one trick that can be useful for you @jongeller and @dotps1
if you set `$env:APPVEYOR = 1` and run tests, you will get a test run that includes some long-running tests. I only run them on CI to speed up development.
Particularly you can see the diff between what we generate and what we have inbox

[code]

It highlig

[2016-05-17 17:20] vors commented on #70
@jongeller in the output of #83 it's still not right, but I'm going to merge it and then fix

![image](https://cloud.githubusercontent.com/assets/816680/15332026/e113af58-1c18-11e6-8968-55a7b24937ae.png)

[2016-05-17 18:30] vors opened #84 "Simplified Markdown Parser mode to preserve original formatting"
Hyperlinks currently handed far from perfect.

- Our pattern uses `@"\[(.+?)\]\((https?://[^'\"">\s]+)?\)"` regex to recognize them. It would not treat relative github links as hyper-links.
- After a full circle unrecognized link would gain additional escaping, so it would be rendered improperly

[2016-05-17 19:23] dotps1 commented on #82
This is not a bug, this was an issue where i have functions that only have parameter sets available when using the ISE, and i was generating code from within the shell only, so the shell does not see those parameter sets.  I don't really think there anyway around, other then scrubbing the code using the AST, and that sound, difficult, if not impossible.

[2016-05-17 19:23] #82 closed

[2016-05-17 19:27] vors commented on #55
Implemented

[2016-05-17 19:27] #55 closed

[2016-05-17 19:27] vors commented on #77
Implemeneted

[2016-05-17 19:27] #77 closed

[2016-05-17 20:04] #70 closed

[2016-05-17 20:21] sankethka commented on #55
Nice..

[2016-05-17 22:44] jongeller commented on #76
Per @sankethka
During New MD generation or Update MD generation, there is log file (txt format) generated in the same folder as MDs that outlines what exactly happed in the process of generation. The log file should show all the CMDLETS that have been parsed, which one was newly created, which one was updated.

First part is to make the cmdlets New-Markdown and Update-Markdown able to pass along a

[2016-05-17 22:46] vors commented on #76
@jongeller I'd prefer to expose logPath as a parameter in `Update-Markdown -logPath`. If it's not passed, it outputs log into Verbose channel. Otherwise, it outputs it into the log.

[2016-05-17 22:47] jongeller commented on #76
okay, I will look into how to do that. Sounds fine.

[2016-05-18 17:46] jongeller commented on #71
Idea for how to accomplish this. @vors please validate my thoughts if you have time. @sankethka for awareness....

We need to have the ability to generate a landing page as part of the new-markdown functionality. This would only be triggered when you create an entire module.
This suggestion only covers the initially creation, after we have that, we should discuss the update scenario for Update-Mar

[2016-05-18 22:26] #69 closed

[2016-05-18 22:28] vors opened #90 "Implement New-Markdown -MamlPath functionality"
We should allow bootstrap completely from MAML (like all previous version did)

[2016-05-19 02:31] jongeller commented on #76
Closed - Complete.

Logging is added to Update-Markdown and Tests are in C# and Pester.

[2016-05-19 02:31] #76 closed

[2016-05-19 03:01] vors opened #93 "New-Markdown should do auto-wrapping for long line"
The proposition is to use [Semantic Linefeeds](http://rhodesmill.org/brandon/2012/one-sentence-per-line/).
It plays nicely with source control.

There is an option to implement auto-wrap for a max width, but this max width is pretty debatable thing.
For SYNTAX block we use 120.

[2016-05-19 03:03] vors commented on #90
Implemented in master

[2016-05-19 03:03] #90 closed

[2016-05-19 05:24] vors commented on #93
implemented in master

[2016-05-19 05:24] #93 closed

[2016-05-19 06:44] jongeller commented on #71
Checked in to master:
New-Markdown with -Module or -Maml creates a landing pages.

Remaining:
Create Help Cab using metadata info from Landing page

[2016-05-19 15:08] vors commented on #84
## Implementation proposal

We would have 2 parser modes. The mode flag would be captured in a MarkdownDocument field.

### simple mode
Simple mode is simple, because it would not try to do **any** smart logic about

- escaping characters
- parse hyper-links
- distinguish soft-breaks and hard-breaks

It's  aimed to be used in a merge scenario. It will allow us preserve formatting for `Update-Markd

[2016-05-19 19:40] vors opened #98 "If parameter belongs to all parameter sets, markdown should not list all of them"
In the below snippet from `New-ExternalHelp.md`, there are only two parameter sets.

Should be

[code]

### -OutputPath
Path to a folder, where you want to put your external help file(s).
The name should ends with locale folder, i.e. ".\out\platyPS\en-US".

[code]

[2016-05-19 19:49] vors opened #99 "Add Show-HelpPreview -MarkdownFile <string[]> parameterSet"
It's nice(at least for development) to have a one-liner to preview help engine output directly from markdown.
Please, up-vote, if you want this feature.

[code]

Will output help object directly from markdown.

[2016-05-20 01:03] vors opened #100 "New parameter set Update-Markdown -MarkdownFolder <string> -ModuleName <string>"
We should have a one-liner for Update-Markdown that also takes care of creating stub markdown for non-existing cmdlets AND update markdown in existing cmdlets at the same time.

It's kind of blurs a line between New-Markdown and Update-Markdown, but it's probably ok.

cc @sankethka

[2016-05-20 04:28] jongeller commented on #100
agreed

[2016-05-20 04:29] jongeller commented on #37
pushing this out, as it is additive and can be built in after milestone 0.4.0

[2016-05-20 04:29] jongeller commented on #71
Finalizing tests, but this is complete.

[2016-05-20 08:02] vors commented on #100
Implemented in master

[2016-05-20 08:02] #100 closed

[2016-05-20 08:04] vors commented on #84
It's a work-in-progress in a `vors/hyperlink` branch.

[2016-05-20 15:44] #71 closed

[2016-05-20 15:45] jongeller commented on #68
doing a cleaning pass, and updating the new-markdown and update-markdown cmdlets

[2016-05-20 18:03] jongeller opened #104 "Rename New-ExternalHelpCab params and fix path creation bug"
The Params on New-ExternalHelpCab are kinda sad:
-CmdletContentFolder : Should be HelpContentFolder
-ModuleMDFullPath : Should be LandingPagePath

When this command is run, if the output directory does not exist, an error is thrown. This should instead create a new directory.

[2016-05-20 18:22] vors commented on #104
Let's use `-ExternalHelpFolder` for consistency.

[2016-05-20 23:52] vors commented on #68
## Notes from cmdlet design review

We did a review with @JamesWTruher @BrucePay @jongeller @joeyaiello  @SteveL-MSFT

* [ ] OutputPath - is ever File or Folder
        - OutputDirectory / OutputFolder
        - OutputFile

* [ ]  New-Markdown `-Module` and `-Command` types
[code]
* [ ] Check OutputTypes

* [ ] Check InputPipeline and InputPipelineByName. Start use InputPipelineByName more often t

[2016-05-22 19:40] vors commented on #98
Fixed in master

[2016-05-22 19:40] #98 closed

[2016-05-22 22:03] jongeller commented on #104
#105

[2016-05-22 22:03] #104 closed

[2016-05-22 23:41] vors opened #106 "cmdlets renaming handled poorly"
If you rename one of cmdlets, current behavior is to error out in `Update-HelpMarkdown`, because file now doesn't represent any cmdlet help.

We should find a better way to handle it.

[2016-05-22 23:56] vors commented on #84
Fixed in master

[2016-05-22 23:56] #84 closed

[2016-05-23 01:18] vors opened #107 "SYNTAX should contain info about default parameter set"
I.e.

## SYNTAX

### FromPath (Default)
[code]

### FromMarkdownString
[code]

[2016-05-23 03:57] vors opened #108 "Cmdlet Design Review notes"
### Notes from cmdlet design review

We did a review with @JamesWTruher @BrucePay @jongeller @joeyaiello  @SteveL-MSFT

These items was not addressed in v0.4.0 release.
I keeping them in a separate issue for future releases
- [ ] Metadadta hashtable should validate types [string] of Key-Values
- [ ] OnlineVersionUrl should be [uri] ?
- [ ] NoMetada and Metadata should be in different parameter set

[2016-05-23 03:58] vors commented on #68
I moved non-addressed issues to #108

Documentation updated

[2016-05-23 03:58] #68 closed

[2016-05-23 04:58] #79 closed

[2016-05-23 19:44] vors opened #109 "Switch CI to PS v4"
I switched appveyor to WMF 5 os image during development of v0.4.0
We should switch it back to the default one (PS v4), which would provide us better validation and CI speed.

[2016-05-23 19:53] vors opened #110 "Generate placeholder for SYNOPSIS, instead of duplicate of SYNTAX"
Currently, we use output of Get-Help to generate SYNOPSIS and don't distinguish between a custom one and help-engine generated one.

We should make it a placeholder, if it's not present to avoid confusion and make bootstrap experience better.

[2016-05-24 21:56] jongeller commented on #37
Continuing this discussion here. After our cmdlets review, there were some take-aways:

All:
Thoughts on the following? @sankethka @vors @joeyaiello

0 - The will need to be a cmdlet New-AboutHelp, which converts .MD About to .txt. Also a New-AboutHelpTemplate, which generates a stub. (Not as sold on the stubbing idea, but throwing it out there)
1 - About topics should be linked to in the readme,

[2016-05-24 21:57] jongeller opened #111 "Need a solution to generate Provider topics"
This is a long term issue, but we have discussed creating a solution that could handle provider topics.

[2016-05-24 23:24] vors opened #112 "Investigate 3rd party markdown parsers"
It would be good to use a more reliable parser from docFX
https://github.com/dotnet/docfx/blob/dev/src/Microsoft.DocAsCode.MarkdownLite/MarkdownParser.cs

[2016-05-25 00:45] vors commented on #112
Nuget package https://www.nuget.org/packages/Microsoft.DocAsCode.MarkdownLite/

[2016-05-25 01:33] daviwil commented on #112
Wow, they're updating it pretty often too. Nice!

[2016-05-25 05:51] vors commented on #106
Same also applicable to parameters rename

[2016-05-25 16:02] sankethka commented on #37
@jongeller

The name of the Cmdlet you are proposing can indeed cause a confusion potentially. Since the task is primarily about conversion from MD to txt, perhaps our cmdlet name should be around that thought.

Also, the template generation is a good idea as this would help the self serve process easier.

[2016-05-25 16:22] juneb commented on #37
I agree with @sankethka that this should be a general cmdlet that can use templates for specific uses.

Just FYI, I have an About topic template that you're welcome to use. https://github.com/juneb/PowerShellHelpDeepDive/blob/master/about_Topic_Template.help.txt

[2016-05-25 17:55] jongeller commented on #37
@juneb Thanks for the template! Let me talk with @vors about it :)

@sanketha, @juneb - per renaming the cmdlets to generate a stub, how about this?
New-AboutHelp -> New-MarkdownTemplate -Template {TemplateOptions}

The New-ExternalHelp would process aboutTopic.md files and using the metadata with an about flag, would then create an about.txt instead of rolling the aboutTopc.md into the MAML?

[2016-05-25 17:58] sankethka commented on #37
@jongeller  Perfect.

[2016-05-25 18:49] vors commented on #37
Thank you @juneb !

[2016-05-25 20:02] jongeller opened #113 "Certain whitespace in MD presents as  "Â Â Â Â Â" in External Help"
While trying to build MAML from the MD generated from MAML for a Cmdlet, the example help displays special characters instead of whitespace, which then carries through into the console help. The output MAML has the special characters, but the source MAML and the generated Markdown did not.

# In Markdown

### Example 6: Grant permissions to a security group
[code]

# In MAML
    Example 6: Grant p

[2016-05-25 20:16] vors commented on #113
That's encoding issue. We should probably add some normalization in markdownV2renderer

[2016-05-25 23:23] vors commented on #112
Also, there is another one https://github.com/lunet-io/markdig/

[2016-05-26 19:48] dotps1 opened #114 "cmdlet Aliases are generating new md files."
cmdlets that have aliases are generating _duplicate_ markdown files.  I think rather then the cmdlet generating mulitpule files based on the name, it would be nice to have an _aliases_ section with all the cmdlet aliases listed there.  or perhaps a hybrid.  Just so its easy to associate aliases to cmdlets.

[2016-05-26 20:07] vors commented on #114
Oh, good catch. Yes, makes perfect sense. For now, we should just exclude aliases from generation.

[2016-05-26 20:08] vors commented on #114
What's a good place to put it in schema?

[2016-05-26 20:19] dotps1 commented on #114
hmmm, if there is a way to associate them i like it right after the syntax and before the description.

[2016-05-26 20:26] vors commented on #114
How about

-------------------------

# Update-MarkdownHelp

[code]

## SYNOPSIS
Update platyPS markdown help files in place.
## SYNTAX

[code]

[2016-05-26 20:27] dotps1 commented on #114
I have no complaints with that.

Sent from my iPhone

[2016-05-27 18:29] dotps1 opened #115 "Use parameter HelpMessage (if present) as a description for the parameter"
I think each parameter should have a description block.  And, if the HelpMessage Parameter Attribute is used, then it should default to that value.

[2016-05-27 18:30] vors commented on #115
Ha, it doesn't work?

[2016-05-27 18:31] dotps1 commented on #115
Not with the latest version from the gallery.  Yeah i was going to say i thought i had added that functionality.  must have gotten lost in the changes.

[2016-05-27 18:34] dotps1 commented on #115
there is a blank line where it _looks_ like it would go:

[code]

[2016-05-27 18:39] vors commented on #115
Hm, so the blank line there to distinguish between two blocks of metadata (it's not mandatory, we just thought it will look better).

Description should be like

    ### -Comment
                    <------ looks like description field here.
[code]

[Schema](https://github.com/PowerShell/platyPS/blob/master/platyPS.schema.md#version-200) for references

[2016-05-27 18:46] dotps1 commented on #115
gotcha, yeah not getting that.  you can grab my latest version PSGist form the gallery, all the parameters in each cmdlet have the HelpMessage Attribute, if you need something to test with.  then i did:
[code]

[2016-06-01 17:12] sankethka commented on #114
@vors Is this done Sergei?

[2016-06-01 17:14] vors commented on #114
@sankethka no

[2016-06-01 20:42] jongeller commented on #113
Adding normalization into the renderer. When MAML is parsed in to MD and when MD is written to MAML, a function will be called that checks for bad characters and replaces them.

[2016-06-02 00:11] jongeller commented on #113
@sankethka - solved. @vors can we chat and review before I commit. I'd like you to check the implementation.

[2016-06-02 17:21] TimShererAtAquent opened #117 "Plain text lists not migrated into markdown as lists."
![list cap 01](https://cloud.githubusercontent.com/assets/16466992/15754382/cc392860-28ac-11e6-9b0e-6dcd0c7fcf83.PNG)
![list cap 02](https://cloud.githubusercontent.com/assets/16466992/15754383/cc3968b6-28ac-11e6-99e7-eb74484f06ee.PNG)

Plaintext formatting for lists in the maml files is not migrated to MD files in a useful way. The way that we do PowerShell lists is as follows:

Introductory text

[2016-06-02 17:34] TimShererAtAquent opened #118 "Angled brackets not rendering in markdown"
Angled brackets are used in plaintext to indicate placeholder text, as follows: (Example from Get-Help.md)

“To see a particular topic, type: Get-Help about_\<topic-name\>, such as Get-Help about_Comparison_Operators.”

The result lacks the content in the brackets:

“To see a particular topic, type: Get-Help about\, such as Get-Help about_Comparison_Operators.”

(There is a separate issue about th

[2016-06-02 18:13] vors commented on #118
We are trying to follow [CommonMark spec](http://spec.commonmark.org/0.25/#backslash-escapes), and it allows us to do escaping with `\<` instead of `&lt`.

Atom / VSCode has [an issue](https://github.com/Microsoft/vscode/issues/6689) with their markdown preview. One of the industry-wide challenge is markdown variations. We supporting CommonMark, because it has a really good spec and set of tests f

[2016-06-02 18:16] vors commented on #113
I left comment on the #116 , other then that, lgtm

[2016-06-02 20:17] TimShererAtAquent commented on #118
Per JP's suggestion, I looked at the topic in GitHub. The brackets escape correctly, as expected from the spec. Let's mark this issue closed.

[2016-06-02 20:17] #118 closed

[2016-06-02 22:07] gerane opened #119 "Example names normalization"
I am just getting started with the Module, and have noticed differences between the way my Markdown files are getting set.

One module has examples like this

[code]

and the other has them like this

[code]

Is there a way to control this that I am overlooking?

[2016-06-02 23:57] vors commented on #119
If there are no examples, we generate a placeholder in the form of `### Example 1`.
Otherwise, we preserve the original title of the Example from the existing help.

I think we would need some way to normalize it (on-demand or as default behavior?).
Great point!

[2016-06-03 00:22] vors commented on #117
I agree that we should produce a valid markdown for lists, from existing MAML list patterns.
That means, we should transform `-- ` lists into `- ` or `* ` lists.

However, I would argue that we should not try to do the round-trip: convert markdown lists into MAML lists (essentially it's a plain-text, so `- ` should do just fine as a list item mark).
Such growing logic in the MAML transformation wo

[2016-06-03 13:45] TimShererAtAquent commented on #117
We should see how it renders in the plaintext output in a PS console window.

I don't know the original reason that PS adopted this convention. Maybe the PowerShell team can shed some light.

[2016-06-03 18:34] jongeller commented on #110
@vors
So, are you saying we generate a new header called Synopsis if none exists and leave it with a note saying 'To Be Filled'?

Can you provide the example where you saw this?

[2016-06-03 18:44] vors commented on #110
No, I'm saying we should do this. Currently we are putting duplicate of SYNTAX, because help engine generates defaul SYNOPSIS as duplicate of SYNTAX and we just using it.

[2016-06-03 20:06] sankethka opened #120 "Module header page after conversion from MAML to MD is showing an extra \ character"
Get a MAML and run conversion to get MDs with module page. Notice the \ character before headings.

Example MD: https://github.com/PowerShell/PowerShell-Docs/blob/reference-migration/reference/v3/Core/Core.md

\Core Module

Description

{{Manually Enter Description Here}}

\Core Cmdlets

[2016-06-06 14:40] TimShererAtAquent opened #121 "Escaping close paren not working after a link"
Several places, for instance, **Disable-PSRemoting**, end of third para in detailed description, starts with “To re-enable”

Look at the link near the end of the para: “configurations, see about_Session_Configurations (http://go.microsoft.com/fwlink/?LinkID=145152\).” The final slash is being read as part of the link, and breaking it.

That final slash is not part of the source maml file. It appea

[2016-06-06 15:03] jongeller commented on #121
Is this case, is it permissible to insert a space before and after the link, instead of the escape character? In a quick test this resolves to a functional link with the paren on either side as text.

Conversely, do we need to fix this. I believe it would be better to identify these links that exist mid content and change them to the appropriate MD link read: [about_Session_Configurations] (http:/

[2016-06-06 15:11] TimShererAtAquent commented on #121
The reason that we include the link in the doc is because the console help is plain text and doesn't support links. I don't know whether round-tripping the text as markdown into the console help is OK. It's OK with me, but there are style standards for PS help and I don't own them.

[2016-06-06 15:25] jongeller commented on #121
Right, what I'm asking is, can we make them into MD links for publishing to MSDN / TechNet / Docs purposes? When they go back down to MAML through PlatyPS it should strip the links, I believe.

@sankethka who do we ask for style guidance? @juanpablojofre is that you?

[2016-06-06 15:34] TimShererAtAquent commented on #121
Just so I have something in front of me:

For more information, see \[This link\]\(http://example.net/\).

I don't know what you mean by stripping the links. We want the link to appear in the console help as text. I don't know whether we can add the above to console help (including the brackets).

[2016-06-06 16:30] sankethka commented on #121
@jongeller JP should be the right person for style guidance.
From what I see if we can retain the link in the MAML so they appear in console link that would be the best option. Just so that users can copy and get to the link easily instead of searching for it.

btw- why is that extra \ appearing in the first place?

[2016-06-06 16:40] TimShererAtAquent commented on #121
The slash is the escape character for the following close paren. That's why I'm confused - markdown should support this.

Again, I don't know whether the brackets are acceptable in console help from a style point of view. PS help was conceived before markdown, so the issue was not addressed in the old style guide.

[2016-06-06 17:14] TimShererAtAquent opened #122 "Casing discrepancy in param properties"
Many, for instance, **Add-History**:

In the Param section under _InputObject_, for instance, **Required** and **Accept wildcard character** have a value of True or False (note the caps). **Accepts pipeline input** begins with lc t (“true”)

These are the fields that appear after the param name in all topics:

Type: PSObject[]
Parameter Sets: (All)
Aliases:

Required: False
Position: 1
Default val

[2016-06-06 17:26] vors commented on #122
I noticed this inconsistency. It comes from existing MAML doc.
We indeed can fix it. What's the correct version? First Capital letter?

[2016-06-06 19:05] vors commented on #109
Maybe not, WMF 5 is now in the [standard image](https://www.appveyor.com/updates/2016/06/05).
Switching to PS v4 will lead to slower builds.

[2016-06-06 19:05] #109 closed

[2016-06-06 20:26] TimShererAtAquent opened #123 "Online Version implementation"
All topics, for instance, **Add-History** under _Related Links_ –

The **Online Version** link appears in the _Related Links_ section. According to the PowerShell spec, the -_Online_ switch works by redirecting to the first URL in the Related Topics section. This was handled behind the scenes in Dx, assuring that the first was the link in the list of links.

If people add related topics to the cmd

[2016-06-06 20:40] vors commented on #123
Ah, thank you for the explanation Tim!
I didn't realise that `Get-Help -Online` looks for the first link. I though it looks for `Online Version:` key. Now it start makes more sense. I think it would be best to move it into metadata, indeed.

[2016-06-06 20:53] TimShererAtAquent opened #124 "External links messed up"
**Suspend-Job**, First para, messed up link:

“It complements the Suspend-Workflowhttp://go.microsoft.com/fwlink/?LinkId=267141 activity, which is a”

## Maml version:

“rkflow. It complements the \<maml:navigationLink\>\<maml:linkText\>Suspend-Workflow\</maml:linkText\>\<maml:uri\>http://go.microsoft.com/fwlink/?LinkId=267141\</maml:uri\>\</maml:navigationLink\> activity, wh”

In Dx, this is an e

[2016-06-06 20:59] vors commented on #124
I used `New-MarkdownHelp -Command Suspend-Job -OutputFolder .\foo\` and generated markdown doesn't have link:

[code]

What version of PS do you use? (output of `$PSVersionTable`)

Did you use `New-MarkdownHelp -MamlFile`?

[2016-06-06 21:05] TimShererAtAquent commented on #124
I used the generated maml file that we got last week and on which the PlatyPS was based. When I ran a local build of that database, I didn't get the link either.

\\wpshelpserver\Content\Core\v3.0\Core\opsmaml

I'm looking at the output as markdown in GitHub.

[2016-06-06 21:27] TimShererAtAquent opened #125 "Notes section lacks bullets"
Any topic that has a notes section, such as Receive-PSSession, New-PSSessionOption and Register-PSSessionConfiguration.

The markdown output has no bullets. The technet version has bullets (see screen cap).

In the maml file, there is a tag, maml:alert, which wraps one or more maml:para tags. The technet page renders one bullet for each maml:alert tag, which can include multiple paragraphs. Can we

[2016-06-06 23:35] gerane commented on #123
Nice to know! I need to correct this in a module I'm getting close to
publishing.

[2016-06-06 23:37] vors commented on #125
Yes, we can do it in `New-MarkdownHelp`.

[2016-06-07 08:59] gordonbondon opened #126 "Usage of ls and cat aliases"
There are a couple of places where `ls` is used instead of `Get-ChildItem` and `cat` instead of `Get-Content` which breaks `New-ExternalHelp` if you have this alias removed and use their git-bash counterparts in your environment.

ls:
https://github.com/PowerShell/platyPS/blob/master/src/platyPS/platyPS.psm1#L583
https://github.com/PowerShell/platyPS/blob/master/src/platyPS/platyPS.psm1#L854

cat:

[2016-06-07 16:08] TimShererAtAquent opened #127 "Characters such as M-dashes and smart quotes should be replaced"
This is a feature request.

I don’t have a lot of examples – see **ForEach-Object** _InputObject_ param:

“command results to ForEach-Object, the InputObject value—even if the value is a collection that is the result of a command, such as –InputObject (Get-Process)—is”

Here’s the preview mode of atom:

“Object valueâ€”even if the value is a collection that is the result of a command, such as â€“I

[2016-06-07 16:57] jongeller commented on #120
I could not repro this. When I ran the command:
[code]
The files did not have the backslash in them. I tried several core modules, and I tried it without the -ModuleName parameter.

@sankethka is going to try to repro for me.

[2016-06-07 16:59] jongeller commented on #113
Submitted the fix for this, merged into master. #116

[2016-06-07 16:59] #113 closed

[2016-06-07 17:01] jongeller commented on #120
@sankethka couldn't repro.
@juanpablojofre @TimShererAtAquent can you repro this for me?

[2016-06-07 17:12] jongeller commented on #114
@sankethka I cannot repro to first half of this bug. I've tried with an entire Module and a single cmdlet, there is no generation of MD for the alias. Is there specific repro steps?

I will now work on getting the MD to generate an alias section. @vors anything I should be considerate of while doing this?

[2016-06-07 17:14] TimShererAtAquent commented on #120
When I run it locally, I don't see the backslash -
![issue](https://cloud.githubusercontent.com/assets/16466992/15867504/89424560-2c98-11e6-8b88-706696b56f02.PNG)

[2016-06-07 17:16] TimShererAtAquent commented on #120
Oops - I wanted a screen cap of this, not the one I did:
![issue](https://cloud.githubusercontent.com/assets/16466992/15867595/e50bf3c8-2c98-11e6-8129-810ee65164ab.PNG)

[2016-06-07 17:18] jongeller commented on #120
thanks @TimShererAtAquent - this is what I am seeing too. I'll wait for @juanpablojofre to chime in, but maybe we need to try again and just upload the files to GitHub once more?

[2016-06-07 19:44] jongeller commented on #110
How about this for the look:

# Update-MarkdownHelp

## SYNOPSIS
{{ Add a synopsis here. }}
## SYNTAX

[code]

[2016-06-07 20:55] jongeller commented on #114
Splitting this out. This bug will only pertain to ensuring that Aliases do not generate a new cmdlet MD file.
A new issue will be created on the roadmap to support Aliases in the MD.

[2016-06-07 20:59] jongeller opened #128 "Add Aliases to the Cmdlet Reference MD"
When Cmdlet MD files are created, the Aliases should be picked up from either the MAML or from

[code]

This information should be added to the Markdown in a manner similar to the below. It will also need to flow through into the Generated MAML. This needs to be address in both the generation of MAML and MD, and the update of MD.
# Update-MarkdownHelp

[code]
## SYNOPSIS

Update platyPS markdown h

[2016-06-07 21:41] jongeller commented on #120
I'm going to go to version 3 & 4 of PowerShell to confirm that this is no-repro then close.

[2016-06-07 21:50] jongeller commented on #107
On it. In PowerShell, it's pretty easy to identify the default ParameterSet. I got this in just a few seconds.
[code]
I think I might need to add a field to the MAML Model ParameterSet object, a bool that lists IsDefault.
When it renders the name to Markdown, it will add (Default) to the name if true. This should also resolve the update scenario too.

[2016-06-07 23:07] jongeller commented on #107
@vors we don't build ParameterSet name into MAML. This is why we always have a placeholder name when we generate MD from MAML only. So after spending sometime realizing this, I now know we don't have to make a change to the MD parser, since it isn't used.

Added a commit to my branch. If it builds, I'll get the test cases loaded in too, and send a pull request.

[2016-06-07 23:09] vors commented on #107
@jongeller that's true for Markdown -> Maml scenario

But for `Update-MarkdownHelp` we use ParameterSetName extensively.

[2016-06-07 23:10] jongeller commented on #107
derp....... right.

[2016-06-08 05:59] jongeller commented on #107
Added an update to the Model Transformer. Update the SyntaxEntryRule(), this now checks to see if the ParameterSet name contains ``` (Default)``` if it does, it gets stripped. This will allow for correct matching in the update scenario.

[2016-06-08 18:16] TimShererAtAquent opened #130 "Round tripping strips spaces when it strips bold or italics"
Locally, I edited an .md file, doing the kind of writing we would do for a cmdlet. This is part of creating our round tripping procedures.

When I added bold or italics and then round tripped, the markup was gone, but so was the space before and after the marked word. (Using screen caps here so as not to confuse the markdown in this issue editor:)

![bold before round trip](https://cloud.githubuse

[2016-06-08 18:53] vors commented on #130
What exactly do you mean by round trip?
If you are talking about Markdown -> Maml -> Markdown, then it's expected, and nothing we can do about it. Maml schema doesn't allow us store all the things we want to store (i.e. parameter set names).

But that's now the suggested workflow.

Suggested workflow is: keep source of truth in Markdown. Use `Update-MarkdownHelp` to update it. Generate MAML as a b

[2016-06-08 19:04] TimShererAtAquent commented on #130
There is still a problem, though. These screen caps are from my locally created maml file. The spaces are missing from the maml:
![bold in maml](https://cloud.githubusercontent.com/assets/16466992/15907182/e8f0c72e-2d70-11e6-963d-684bd6f75a94.PNG)
![italics in maml](https://cloud.githubusercontent.com/assets/16466992/15907191/ef9d1a82-2d70-11e6-9fcd-26ca5d299736.PNG)

[2016-06-08 19:08] vors commented on #130
good catch!

[2016-06-08 23:03] jdhitsolutions opened #131 "Example code missing prompts"
In my examples I almost always preface the example command with a prompt so that it looks like this:

`PS C:\> get-myfoo -name blah`

But converting this to a markdown file strips off the prompt and all I get is the command.

[2016-06-08 23:08] vors commented on #131
It should not be the case. Can you provide a repro?

[2016-06-08 23:11] gerane commented on #131
What I saw was comment based help adds prompt without user needing to do
it. When converted with PlatyPS, it removes the prompts after conversion.

On Wed, Jun 8, 2016, 6:08 PM Sergei Vorobev <notifications@github.com>
wrote:

[2016-06-08 23:12] gerane commented on #131
May be worth checking for prompt, and adding if missing during conversion
if possible.

On Wed, Jun 8, 2016, 6:11 PM Brandon <gerane@gmail.com> wrote:

[2016-06-08 23:17] jdhitsolutions commented on #131
It is true that PowerShell will automatically insert the prompt if you don't include it, but it uses C:\PS> or some such nonsense. I always insert the prompt, especially when I need to make a location clear.  Here's an older function that has my typical help.
[code]
When I run New-MarkdownHelp I end up with this in the examples section.
## EXAMPLES

### -------------------------- EXAMPLE 1 -------

[2016-06-08 23:25] vors commented on #131
Thank you @jdhitsolutions !

I'm glad we include correct template for new examples :)
https://github.com/PowerShell/platyPS/blob/master/src/platyPS/platyPS.psm1#L985

[2016-06-08 23:28] jdhitsolutions commented on #131
I'm running this in the PowerShell ISE if that makes any difference.

[code]

[2016-06-08 23:28] vors commented on #126
Thank you @gordonbondon !
My bad: I always use `ls` and `cat` and can hardly remeber what's the real cmdlet names for them.

I heard VSCode can take care of it and expend all aliases with a couple of keystrokes. Right @daviwil ?

[2016-06-08 23:37] jdhitsolutions opened #132 "Multiple related links treated as one"
Here's another thing I've noticed in converting my comment based help to an md file. The help looks like this:

[code]

But when converted to markdown looks like this:

[code]

Which should appear as:
## RELATED LINKS

[http://jdhitsolutions.com/blog/2013/04/get-ciminstance-from-powershell-2-0](http://jdhitsolutions.com/blog/2013/04/get-ciminstance-from-powershell-2-0)

[Get-CimInstance
New-CimSes

[2016-06-08 23:40] jdhitsolutions commented on #132
I see here that the original markdown shows as 3 lines but it is really being treated as a single command. When I use other online markdown viewers like dillinger this is very clear.

[2016-06-08 23:41] vors commented on #132
Does comment based-help supports

[code]

to define 3 links? cc @jongeller

[2016-06-08 23:42] vors commented on #132
We create one markdown link from each related link that help engine produce in object from `Get-Help`.

[2016-06-09 00:19] jdhitsolutions commented on #132
Comment based help supports multiple entries under one .Link heading. But an online URL needs to be under a separate link. But I think I see the problem. PowerShell commands have a each link under a separate .Link entry in a maml file. But comment based help is more forgiving. Although that seems to be a problem here. I may have to adjust my comment help first.

[2016-06-09 00:21] jdhitsolutions commented on #132
Modified by comment help to use .Link heading for each entry and markdown now is as expected.

[2016-06-09 00:34] vors commented on #132
I added wontfix, since it's more "help engine" quirk, not platyPS.

[2016-06-09 01:27] jongeller commented on #107
added pull request #133

[2016-06-09 01:27] jongeller commented on #120
could not repo, waiting for @juanpablojofre

[2016-06-09 01:29] jongeller commented on #114
could not repo, closing. The adding of aliases to markdown is in issue #128

[2016-06-09 09:14] gordonbondon commented on #126
@vors that shortcut should be `Ctrl+Alt+e`

[2016-06-09 11:58] jdhitsolutions commented on #132
Agreed. You can close this issue if you want. One thing that comes to mind is to have some sort of checklist for existing comment based help. These would be things to check before you attempted to convert. Maybe such a list already exists but if so I didn't come across it.  Or have a model comment-based example that converts perfectly to markdown.

[2016-06-09 15:33] jongeller commented on #115
Looking at the code, we do seem to cover this scenario. Going to work on the repro using PSGist.

[2016-06-09 17:21] jongeller commented on #115
Found this:
In PlatyPS.psm1 the function call to AddLineBreaksForParagraphs
https://github.com/PowerShell/platyPS/blob/master/src/platyPS/platyPS.psm1#L1381
The string for HelpMessage does not get passed in.
@vors I've been looking at it for a while, and the only fix I found breaks a bunch of other areas that leverage that function. Could you see if you see why the text is not passing in?

[2016-06-09 17:56] vors commented on #115
Probably because in the caller (https://github.com/PowerShell/platyPS/blob/master/src/platyPS/platyPS.psm1#L1561) maml-based help and comment-based help genereted different objects (i.e. there is no `text` property or something).

This bug is closely related to #132

[2016-06-09 20:35] jongeller commented on #120
closing.

[2016-06-09 20:35] #120 closed

[2016-06-09 20:36] jongeller commented on #115
So, what do? Do you want to take this one?

[2016-06-09 22:04] vors commented on #115
ok

[2016-06-10 05:00] jongeller commented on #122
I think I eliminated all occurrences. The pull request to master is in #134.
@TimShererAtAquent  @sankethka

[2016-06-10 19:28] vors commented on #121
Fixed per ecc01b2

[2016-06-10 19:28] #121 closed

[2016-06-10 19:53] vors commented on #130
Fixed in 3f25d00

[2016-06-10 19:53] #130 closed

[2016-06-10 20:41] vors commented on #115
Fixed in 843f322

[2016-06-10 20:41] #115 closed

[2016-06-10 20:48] vors commented on #126
Fixed per b7fee27

[2016-06-10 20:48] #126 closed

[2016-06-10 23:40] vors commented on #132
ok, so I created a separate context in pester tests for comment-based help case.

https://github.com/PowerShell/platyPS/blob/843f322e9016e6525255259e35042546eb1c98ed/test/Pester/PlatyPs.Tests.ps1#L89

[2016-06-11 00:46] vors commented on #110
Fixed per c5ac385

[2016-06-11 00:46] #110 closed

[2016-06-11 01:12] vors commented on #114
Added test for it in 25a85ab

@dotps1 please, reopen an issue, if you know the repro that leads to such behavior.
We could not figure it out.

[2016-06-11 01:15] dotps1 commented on #114
I'll see if I can reproduce tomorrow, is 0.5.0 live?

Sent from my iPhone

[2016-06-11 01:16] vors commented on #114
@dotps1 , no it's planned to be released on Sunday.
There are few things to fix https://github.com/PowerShell/platyPS/milestones/0.5.0

[2016-06-11 01:18] dotps1 commented on #114
Ok, I'm not near a pc right now but I will try again in the morning.  But I know it happened with 0.4.0 so I'll reply in the am.  Thanks!

Sent from my iPhone

[2016-06-11 01:56] vors commented on #122
Fxied per #134

[2016-06-11 01:56] #122 closed

[2016-06-11 20:09] dotps1 commented on #114
I am still able to reporduce this with building on the Master the branch.  Here my output:
[code]

`Fork-Gist` is just an alias of `Copy-Gist`
[code]

Here is the MD output, it even has syntax of `Copy-Gist`:
[code]
PS C:\> {{ Add example code here }}
[code]

[2016-06-11 20:10] dotps1 commented on #114
doesn't appear i can reopen the issue.

[2016-06-12 06:50] vors commented on #107
Fixed

[2016-06-12 06:50] #107 closed

[2016-06-12 16:48] vors commented on #114
@dotps1 I will reopen it

[2016-06-12 16:52] vors commented on #114
I'm able to repro it.

[2016-06-12 17:14] vors commented on #114
Fixed via 6378b10

[2016-06-12 17:14] #114 closed

[2016-06-12 17:42] vors commented on #125
That turned out to be a trickier problem, then I expected.

As @TimShererAtAquent said, in maml, there is `<maml:para>` tag that provides bullet-point.
However, **help object** doesn't have any corresponding entity.

We use [help object](https://github.com/PowerShell/platyPS/blob/master/CONTRIBUTING.md#data-transformations) to produce maml.

So, if we want this functionality, we need to plug it **

[2016-06-12 19:30] vors commented on #125
I made it work, but markdown doesn't look good eather
https://gist.github.com/vors/c06c7876bbe400fc9a3dc93e65d2c9d0#notes

[2016-06-12 21:22] vors commented on #125
Addressed in 69d5663 and 8c6e40e

[code]

[2016-06-12 21:22] #125 closed

[2016-06-12 21:31] vors commented on #127
Note, C# and PS uses Unicode, not ASCII

So left single quote would be `0x2018`,  not `0x91`
http://www.fileformat.info/info/unicode/char/2018/index.htm

[2016-06-12 22:08] vors commented on #124
Fixed per 12f56fb

[2016-06-12 22:09] vors commented on #127
Fixed per 12f56fb

[2016-06-12 22:09] #127 closed

[2016-06-12 22:13] vors commented on #124
This is DX-studio export, not platyPS issue.

[2016-06-12 22:13] #124 closed

[2016-06-12 23:07] vors commented on #113
I doubt that source MAML doesn't have special characters... it has to originate from somewhere

[2016-06-13 00:06] vors commented on #117
Implemented via a3ce3ed

[code]

Example:

https://gist.github.com/vors/803557096ae25a049139f24ff555f4bb

[2016-06-13 00:06] #117 closed

[2016-06-13 01:33] vors commented on #123
Fixed in 00c99ac

[2016-06-13 01:39] vors commented on #123
Forgot to add corresponding logic in markdown generator

[2016-06-13 02:12] vors commented on #123
Second part fixed via 6534fe3

[2016-06-13 02:12] #123 closed

[2016-06-13 05:54] imfrancisd opened #135 "Problems with non-ascii characters for markdown without BOM."
New-ExternalHelp does not handle non-ascii characters properly if markdown is saved as UTF8 without BOM.

I don't know if this is by design or if this is a bug.

[code]

[2016-06-13 06:15] imfrancisd commented on #135
Also, Get-HelpPreview has a similar problem. If the maml file does not have a BOM, Get-HelpPreview does not display non-ascii characters properly, while the Get-Help cmdlet doesn't seem to be affected by maml files without a BOM.

[2016-06-13 16:56] vors commented on #135
I think #113 is an individual case of this problem.

[2016-06-13 17:12] vors opened #137 "yaml metadata block should not have extra spaces for empty entries"
While reviewing #136 I found that @TimShererAtAquent removed a whole bunch of extra white-spaces from metadata blocks. I think it's a clear sign that they should not be there at the first place

![image](https://cloud.githubusercontent.com/assets/816680/16016316/4dcc4880-314f-11e6-8e86-bef21b95c750.png)

[2016-06-13 17:31] vors opened #138 "Allow to use links from RELATED LINKS in the markdown body"
We should be able to leverage [markdown shortcut reference links](http://spec.commonmark.org/0.25/#shortcut-reference-link) to avoid duplicates in the document and in `RELATED LINKS` section.

This work depends on #112

[2016-06-13 18:07] vors opened #139 "We can do better then UNNAMED_PARAMETER_SET_<n>"
Maml actually **has entry** for parameter set name.
Existing autoring tools don't leverage it, that's a separate thing.

We should start use it to generate parameter set names.
This way, at least for platyPS-generated MAML we will enable round-trip.

[2016-06-13 20:42] TimShererAtAquent opened #140 "Related links dissappearing from generated maml"
It looks like New-ExternalHelp is removing links from the Related Topics section of topics. My local build of the maml file contains only Online Version links.

Following up on an older issue (#123), I did the following:

In the markdown file, I moved the second link in the Related Topics section to be first. This was to simulate an author adding a link above the Online Version link:

![online iss

[2016-06-13 20:47] vors commented on #140
Yes, in generated MAML we preserve only links with URI that start with `http(s)://` or empty links.

[2016-06-13 20:50] TimShererAtAquent commented on #140
I see - Then this should work after JP runs his script to replace the GUIDs in that section -

[2016-06-13 20:54] vors commented on #140
I will keep it open, it bothered me for a while :)

[2016-06-13 21:40] kapilmb opened #141 "ModuleVersion value in src/platypPS/platyPS.psd1"
The `ModuleVersion` value (0.0.1) in the said file in master branch doesn't reflect the most recent released version (0.5.0). Is it supposed be this way?

[2016-06-13 22:03] vors commented on #141
It's updated on tags https://github.com/PowerShell/platyPS/blob/master/build.ps1#L38

0.0.1 is kind of a placeholder for `dev` version

[2016-06-13 23:02] kapilmb commented on #141
Got it. Thanks!

[2016-06-13 23:02] #141 closed

[2016-06-14 15:21] jongeller commented on #119
I think the placeholder format is more readable in the Markdown. However I wonder if this would present cleanly in MAML. If it does look good, I would vote for new example header styles.

[2016-06-14 15:45] TimShererAtAquent opened #142 "Order of parameters in markdown"
(This is a feature discussion, so I'm going to skip the bug template. I don't know whether this should be implemented in PlatyPS.)

The order of parameters, in markdown help, is not alphabetical. It seems to follow the order of the MAML file. Here's some markdown topics where this happens (all from version 3):

* Connect-PSSession
* Invoke-Command
* ForEach-Object

I think that WhatIf and Confirm

[2016-06-14 19:02] sankethka commented on #65
@vors Is this not available yet for use?

[2016-06-14 19:14] vors commented on #65
@sankethka no, I almost always close issues that have been implemented.

[2016-06-16 00:48] jongeller commented on #37
@sankethka @vors
Could I get you to take a look at commit f4463af

I'd like your thoughts on the aboutTemplate.md I created.
Also any feedback on the change to the build script is welcome.

[2016-06-16 00:51] vors commented on #37
@jongeller I would use pattern `{{ Placeholder Explanation }}` to match existing templates for parameters.

[2016-06-16 00:56] jongeller commented on #37
good point, on it.

[2016-06-16 02:16] jongeller commented on #37
updated template, build fix script
 now including pester tests in commit 10ececa

[2016-06-16 04:42] jongeller commented on #37
updated, template creation functionality added & it passes tests.
commit  c1b7dba

[2016-06-16 16:30] sankethka commented on #37
@jongeller Template looks fine.... thanks.

[2016-06-18 23:29] vors commented on #142
There is no particular order enforced. I think it's a reasonable desire to reorder parameters in New and Update cases

[2016-06-20 15:14] TimShererAtAquent opened #144 "runtime error creating Markdown for v. 5 of Core"
I ran into this error when I was running New-MarkdownHelp locally. JP said he saw it too, but only for v. 5. I repeated it this morning, so here are the details:

Steps to reproduce
------------------
I imported platyps:
[code]
I ran this command:

[code]

Expected behavior
-----------------
I expected no error message.

Actual behavior
---------------
the following output:

[code]

Environment da

[2016-06-21 18:50] gerane commented on #144
I am getting a similar error after V5. When I use New-ExternalHelp, it gives this error

[code]

This worked fine prior to the update. I should also note that all of my links had urls.

[code]

[2016-06-23 01:02] jongeller commented on #37
updated to include About Topic rendering from MD to Txt, which adhears to the About Topic Schema above.
commit 17d0bbd
After CI passes, I will submit a pull request on Master branch.

[2016-06-23 01:13] jongeller commented on #37
@vors could you take a look, the most recent push to my AboutTopics branch failed CI: https://ci.appveyor.com/project/PowerShell/markdown-maml/build/0.4.0.652
This isn't happening locally. Is it possible CI doesn't have the updated help?

[2016-06-23 01:41] vors commented on #37
@jongeller it has WMF 5 and we call `Update-Help` [on init](https://github.com/PowerShell/platyPS/blob/master/appveyor.yml#L15), so no, it's probably something different.

These looks like a legitimate problems to me:
[code]

[2016-06-23 18:35] vors commented on #37
@jongeller it looks like you push your changes to master and broke the build

![image](https://cloud.githubusercontent.com/assets/816680/16315274/66815ef8-3936-11e6-806d-0e94d8a7a94c.png)

Now all Tim's PR are failing

![image](https://cloud.githubusercontent.com/assets/816680/16315291/8332bbd2-3936-11e6-8131-7701dacd73c4.png)

I'm reverting your changes in master. Please don't do that in the futu

[2016-06-23 18:58] vors opened #156 "Investigate failure of 2 Add-Computer tests"
In 9c6ae85 I disabled 2 tests that started fail sporadically, need to investigate it.
It could be the updated documentation for PS v5.

cc @jongeller

[2016-06-23 19:11] vors commented on #37
Sorry, I see what you did: made a dummy change in master and reverted it back to re-run tests on master in CI.

My appologies, @jongeller

I temporarily disabled this 2 tests to unblock you, #156 to track it

[2016-06-24 13:03] jongeller opened #158 "Clean Pester Tests to use TestDrive"
There are several tests created early in PlatyPS that should be cleaned. This apply to the features @jongeller implemented. Particularly the use of local drives in the Cabbing features should be updated to use the Pester TestDrive.

[2016-06-24 13:07] jongeller commented on #37
Pull Request #157 now submitted to close this issue.

[2016-06-25 17:26] rkeithhill opened #159 "EXAMPLES section header missing in generated XML file"
Steps to reproduce
------------------
Generate a help xml file from a simple markdown file with some examples.

Expected behavior
-----------------
I expect to see an EXAMPLES section header like I see online:

![helponline](https://cloud.githubusercontent.com/assets/5177512/16357971/206013f4-3ac3-11e6-8801-97c83c043fb8.PNG)

Actual behavior
---------------
I don't see the header in the local docs

[2016-06-25 18:43] rkeithhill opened #160 "New-MarkdownHelp not scooping description of parameter."
Steps to reproduce
------------------
Here is my inline function help:
[code]

Expected behavior
-----------------
The VisualStudioVersion parameter info came across:
[code]
Actual behavior
---------------
This is what New-MarkdownHelp generated for the Architecture parameter:
[code]

Why didn't my parameter description come across for this parameter?

Environment data
----------------

PS v5 (Win

[2016-06-25 18:44] rkeithhill commented on #160
Nevermind. Hehe, as soon as I posted this I saw the typo in the parameter name.  Well there's another vote for "automating" as much as you can to eliminate human error. :-)

[2016-06-25 18:44] #160 closed

[2016-06-25 19:16] vors commented on #159
This is just how PowerShell help engine represents help object.
It doesn't have EXAMPLES header, which is unfortunate.
That's why people use `---------------- EXAMPLE 1 -----------------` pattern a lot to indicate examples section.

[2016-06-25 19:16] #159 closed

[2016-06-25 19:16] vors commented on #159
@rkeithhill please reopen the issue, if I misunderstand it

[2016-06-25 19:30] rkeithhill commented on #159
Yeah I eventually figured out that it is just how Get-Help renders the MAML to text for display.  I thought Get-Help used to render the EXAMPLES section header but I loaded up v2 and it's not there either.

[2016-06-27 18:41] sankethka commented on #144
@vors @jongeller Me and Tara tried this and able to repro this. Can you guys pls help? we seem to be blocked here.

[2016-06-27 20:30] vors commented on #144
@jongeller we need to fix this asap.

[2016-06-27 20:32] jongeller commented on #144
looking at it now. I'll prioritize it.

[2016-06-27 20:44] jongeller commented on #144
@TimShererAtAquent I used your exact script, and was not able to repro the issue.
[code]

Looking into the other issue now.

[2016-06-27 20:51] jongeller commented on #144
@gerane could you give me repro steps? Was there anything about your call to New-MarkdownHelp or New-ExternalHelp that was unusual?

[2016-06-28 00:08] jongeller commented on #37
Tests working successfully, merged into master, now closed.

[2016-06-28 00:08] #37 closed

[2016-06-28 00:17] jongeller commented on #156
Resolved. The docs were updated and the tests did not reflect this. Also, this was coupled to an issue where help content pulled from update-help was broken.

[2016-06-28 00:17] #156 closed

[2016-06-28 00:19] jongeller commented on #144
Okay, after working with @sankethka it seems that there is some URI validation going on. Depending on what URI contents are in the source MAML this error can occur. It is larger tied to other URI bugs. Resolving this now by finding where the validation is occuring and removing it.

The way URIs are currently, is desired functionality, and validation is overly aggressive.

[2016-06-28 00:36] jongeller opened #161 "Need Graceful Response if executing PlatyPS commands from non-FileSystem provider"
discovered this when trying to run PlatyPS on the SQLPS module for SQL server. Part of getting the commands moves the runtime over to the SQL provider, PlatyPS fails dramatically at this point.

To Reproduce
-----------------
[code]
Expected behavior
-----------------
You get the help.xml (external help) expected.

Actual behavior
---------------
[code]

Environment data
----------------
PlatyPS v

[2016-06-28 01:10] jongeller commented on #144
@vors the issue occurs inside of New-Module. It throws an error internally.

[2016-06-28 01:50] vors commented on #144
@jongeller hehe. I see. So, PS help egnine actually does URI validation for RELATED LINKS in the Maml XML. And that's why it fails to retrieve it from the dummy module. @sankethka the issue is not in platyPS, but in the maml that you use to fed into it.

[2016-06-28 05:40] jongeller commented on #142
@juanpablojofre
Could we get your opinion on this?

[2016-06-28 14:53] jongeller commented on #140
@vors are there additional changes you want to make? Or is this resolved due to the same Help Engine URI constraints identified in #144

[2016-06-28 18:31] vors commented on #140
@jongeller this is a separate problem.

Basically, we have same containt in platyPS as Help engine does: you are allowed to use only valid URI in the link reference.
Not much we can do about help engine.

This issues is to resolve the limitation from platyPS.

[2016-06-28 23:12] gerane commented on #144
@vors what about my example above. All of my related links have valid links. This works fine in v4, but I'd broken in v5.

I had to downgrade.

[2016-06-28 23:29] vors commented on #144
@gerane it looks like your 'online version:' yaml metadata entry is not a valid URI, is this the case?

[2016-06-28 23:30] vors commented on #144
We are adding it before creating maml-xml as a first related link, to guarantee that it's going to be the first one.

[2016-06-29 00:21] gerane commented on #144
It is valid. I even have pester tests that validate all of my markdown
URIs. They all pass.

[2016-06-29 00:22] vors commented on #144
@gerane can you, please open a new issue and provide a repro?

[2016-06-30 00:07] jongeller commented on #144
discovered a priority issue with this at the root cause.
If there is not a valid link in the first related link in MAML when it is passed into PlatyPS the URI issue will occur.

We need a bug fix to insert a dummy URI into the first related link slot if existing one in the first slot is invalid.

[2016-07-01 18:49] gerane opened #162 "Parameter attributes are ignored if no comment based help is present."
https://gist.github.com/gerane/10c286bdbff1b8ce72578ed7b40fdc3b

the above gist shows how Get-Help handles parameter attributes if comment based help is absent. Simply adding empty <# #> makes it able to see it. PlatyPS should be able to update these parameter attributes when Comment based help isn't present since many will remove the comment based help when using PlatyPS.

Steps to reproduce
----

[2016-07-01 19:39] gerane commented on #162
I added <# #> to one, but even with this, after the Help has been made I can't get it to update parameter attributes that have been added or changed in the Parameters themselves.

Adding the following to a parameter does not get added when update markdown help.
[code]

Same with changing one values, they do not get updated in the markdown.

[2016-07-01 20:16] gerane opened #163 "Update Markdown is ignoring some changes and does not update unless a new param is added."
When changing param attributes in Commands, Update-MarkdownHelp is not registering most changes. I am adding a Before and After example. Before is the state of the script and markdown help where it failed to register any changes even after trying up to 10-15 different times. I kept adding little changes to see if it triggered it. Adding a new parameter to the Command was what finally triggered it,

[2016-07-01 20:30] gerane commented on #163
I just realized I screwed up my before and after markdown copy and paste. I will try to get the correct ones later tonight.

[2016-07-01 20:38] splatteredbits commented on #142
I would definitely like to be able to control the order of parameters. Some of my commands have a lot of parameter, and I want the most important and most used ones up first.

[2016-07-01 20:46] splatteredbits opened #164 "Allow non-links for related links items"
Items in the related links section are required to be links. Many of my module's links point to other, related commands in the module. This is similar to PowerShell's own help, where only the names of commands are given in the related links section.

For example, here is `Get-ChildItem` cmdlet's related links section:

[code]

Steps to reproduce
------------------
Create a new markdown help file.

[2016-07-01 23:39] vors commented on #144
I workaround it in 6654f752 , please reopen the issue, if you still encounter the problem.
You would need to use a build from master directly. You can grab it from the build server or build yourself.

[2016-07-01 23:39] #144 closed

[2016-07-06 17:45] juanpablojofre opened #165 "Update-MarkdownHelp log differs from what's executed"
Description
------------------
The Log files specifies changes that aren't in the updated file.
As a user, I would like to know from where is the referenced change text coming from.
Steps to reproduce
------------------
1. Get a copy of the Clear-History.md, from the attached files.
2. Run the following command `Update-MarkdownHelp -Path "<path-to-file>\Clear-History.md" -LogPath "<path-to-logfile

[2016-07-08 14:19] jdhitsolutions opened #166 "Creating external XML help casing isn't consistent"
Steps to reproduce
------------------
Create a markdown version of help for a command that has parameters. I did this for a module. Then create external help from the markdown file.

Expected behavior
-----------------
Parameter attributes are often displayed with True/False values. I would expect the XML help file to create output like this:
[code]

Actual behavior
---------------
Instead I get t

[2016-07-08 14:26] jdhitsolutions opened #167 "Default parameter values should be 'none' not 'false'"
Steps to reproduce
------------------
Create markdown file from any PowerShell function that has a parameter with no default value.

Expected behavior
-----------------
When looking at parameter details the setting for Default value should be set to none.

Actual behavior
---------------
The Default value is being set to False.

Environment data
----------------

v0.5.0

[2016-07-08 14:26] jdhitsolutions commented on #166
I am using version 0.5.0 of the module on Windows 8.1 running PowerShell v5.

[2016-07-08 20:14] jongeller commented on #167
@jdhitsolutions thanks, that looks like a good catch.

@vors any thing you want to add before I pick this up?

[2016-07-08 20:53] #158 closed

[2016-07-08 20:58] jongeller commented on #165
@juanpablojofre @sankethka
I will need specific example of what you are referring to in: ```No, the reported action didn't happened.```
I am investigating the zip file now, and running tests using Microsoft.PowerShell.Management in version 5.0 on Windows 10.

[2016-07-08 22:10] juanpablojofre commented on #165
@jongeller
If you open the 'Update-MarkdownHelp-2016-07-06 102313.log' and look into lines 16 to 25 (where it refers to the Clear-History parameter) you will notice that it says:

_::Clear-History: parameter CommandLine - description has been updated:_
_<_
    _Specifies commands that this cmdlet deletes._
    _If you enter more than one string, Clear-History deletes commands that have any of the

[2016-07-10 16:27] jdhitsolutions opened #169 "Convert parameters"
Is there a reason the Convert parameters aren't part of the Command parameter set?

[2016-07-10 16:31] jongeller commented on #165
@juanpablojofre
Got it thanks. I'll look into it now.

[2016-07-10 16:43] jongeller commented on #165
I will be focusing on determining how to include changes to ParameterSet Names and Alias'
[code]

[2016-07-10 16:48] jongeller commented on #169
@jdhitsolutions could you link me to example?

[2016-07-10 16:58] vors commented on #169
@jdhitsolutions are you talking about `New-MarkdownHelp -Command`? Can you, please, elaborate.

[2016-07-10 17:35] jdhitsolutions commented on #169
New-MarkdownHelp has parameters for ConvertNotesToList and ConvertDoubleDashList but when using the last parameter set. I would like to have these parameters at least for the first parameter set which generates help from a command.

[2016-07-10 17:36] jdhitsolutions commented on #167
Of course a Switch should still have a default value of false.

[2016-07-10 17:40] vors commented on #169
Yes, it would make sense. Unfortunately, `-ConvertNotesToList` is limited by the implementation. Original [thread about it](https://github.com/PowerShell/platyPS/issues/125#issuecomment-225450330). In short, this knowledge (at least, as described by @TimShererAtAquent, applicable to msdn) exists only on maml level. I took the same approach with `-ConvertDoubleDashList `, because it made the code r

[2016-07-10 18:35] jongeller commented on #164
@splatteredbits this is a function of the help system built into PowerShell. The first related link in MAML must be a valid URI. If the first link is not a URI the help system throws an error when it tries to parse MAML. This is to support the functionality of  ``` Get-Help <Some-Cmdlet> -online ```.

When converting from MAML to MD we updated the code to allow bad URIs to convert to MD to avoid t

[2016-07-11 00:15] vors commented on #167
Good catch. I know for sure, it used to be the case at some point. Surprised it became broken in 0.5.0. We definitely need a test for that.

[2016-07-11 00:21] vors commented on #164
It's a variation of #140.

I don't think platyPS should support a **plain text** in RELATED LINKS section. But it should support relative links and so on.

@splatteredbits you should be able to use `[Use-ACommandName]()`
Note that what do you see in the `Get-Help` output is just a representation of the help object on the screen.

Take your example with `Get-Help Get-ChildItem`:

[code]

Not a plai

[2016-07-11 04:48] vors commented on #166
Good catch. We discussed casing for *markdown* part in #122 and [picked]( https://github.com/PowerShell/platyPS/issues/122#issuecomment-224029184) `FirstCaps`. We should do the same maml generation.

I *personally* find lowercase more pleasant visually, in this case. But PowerShell uses this style for parameters, command names, and constants, so I think capitalizing the first letter is more consis

[2016-07-11 13:40] jdhitsolutions commented on #166
I was trying to see if there was any sort of pattern in other PowerShell help but there really isn't. Although for the most part lowercase seems predominant. Probably doesn't really matter as long as it is consistent.

[2016-07-11 14:18] jdhitsolutions opened #170 "Support for -WhatIf"
Because many of the commands in this module are changing state, shouldn't they support -WhatIf? Personally, I find this very important when creating external help to make sure I haven't made a mistake anywhere.

[2016-07-11 15:05] vors commented on #170
Yes, always good to have `-WhatIf`. :)

At the same time, the recommended workflow is to version-control module and a documentation (together). When you do it, you don't really need `-WhatIf`, because you can always checkout previous state. More then that, you get much better understanding of "What changed", once you apply the change.

For example, there could be bugs in `Update-MarkdownHelp` logg

[2016-07-11 15:38] jdhitsolutions commented on #170
I understand all of that. I am trying to maintain consistency, especially for IT Pros using PowerShell. I get discouraged when I train and explain -Whatif, only to discover commands that ignore the paradigm. Yes, version control is ideal but that shouldn't replace the fundamental nature of how people use PowerShell commands, or at least expect them to behave.

[2016-07-12 15:39] jongeller commented on #165
updated to include changes to parameter block comments, parametersets, aliases. Code will be merged into Master after last item is complete, below.

### Current changes look like:
[code]

### Now working on:

Most important and alarming gap is that no all  up log currently exists that reports the group of commands that are not found in the session.

When a md is skipped because there is no match b

[2016-07-12 17:27] jongeller commented on #65
The features I am working on this this iteration:
1) Check that conversion from MD to MD object works
2) Check that conversion from MD object to MAML object works
3) Check that fields are not blank / no placeholder content exists.

[2016-07-12 19:21] jongeller commented on #165
Add logging for added and removed cmdlets

[2016-07-13 20:56] jongeller commented on #165
Closed with pull request #172

[2016-07-13 20:56] #165 closed

[2016-07-13 22:09] vors commented on #164
Fixed in 8931129

[2016-07-13 22:09] #164 closed

[2016-07-14 23:19] jongeller commented on #142
Suggestion to @splatteredbits @TimShererAtAquent @vors @juanpablojofre
### New-MarkdownHelp
we order the parameters. Alphabetical with Whatif followed by Confirm, last.
### Update-MarkdownHelp
existing order preserved, which allows you to choose your order prior to update and maintain it
new parameters added to the bottom but before WhatIf and Confirm

since we can't programtically meet @splattere

[2016-07-14 23:21] jongeller commented on #140
@vors can we close this now?

[2016-07-14 23:22] TimShererAtAquent commented on #142
This sounds like a fine approach to me -

[2016-07-14 23:33] vors commented on #140
Not really :) we don't fail in this case, but we don't put them 100% correctly.
We need to revisit this issue to see the original repro and re-evaluate it.

[2016-07-19 14:31] jdhitsolutions opened #174 "Can't convert About markdown to About txt file."
Steps to reproduce
------------------
Run New-MarkdownHelpAbout to create to a simple about topic.
Run New-ExternalHelp specifying the path to the about topic.
Essentially, follow the steps in the New-MarkdownHelpAbout example.

Expected behavior
-----------------
I'm expecting an about text file in the output folder.

Actual behavior
---------------
I am not getting anything for the about topic.

[2016-07-19 14:40] jdhitsolutions commented on #174
I started a new PowerShell session and re-tried. Now the command works with a very, very simple about file. Athough shouldn't the name by something like about_myTopic.help.txt?

However this doesn't work with longer about md files and there are no errors and no results. Is there something special that will break the conversion?

[2016-07-19 15:10] jdhitsolutions commented on #174
I think I've narrowed down the issue. If I create a brand new about markdown file and edit it in the PowerShell ISE that will be exported to a text file with no problems. But sometimes when I paste in text that seems to break something. However, I can't reproduce this 100% of the time. Could there be some non-printing character that would cause the conversion to break?

[2016-07-19 15:27] jdhitsolutions commented on #174
I found the problem. The second line is case sensitive when it comes to the word 'about'. My pasted version was using 'About_foo'. Once I changed it to 'about_foo' the conversion worked. It might be worth making mention of this in the output md file.

[2016-07-19 15:50] jongeller commented on #174
@jdhitsolutions thanks for finding it! I'll update the solution to handle the casing, I'd rather not make a note for something like this, PlatyPS should just be able to pick up on it.

[2016-07-19 17:17] jdhitsolutions opened #175 "Should module About topic be required"
I like the new commands for creating About documents. But I also noticed that New-ExternalHelp automatically creates an about text file outline. I'm wondering if this should happen by default. Is it really a best practice that all modules have an about topic? Personally, I don't think it is always merited. I'd rather see New-ExternalHelp include an optional parameter to generate the about topic.

[2016-07-20 14:27] jongeller commented on #174
Fixed this in 63837b8 will merge to master along with other bugs, once bug triage work is complete.

[2016-07-20 19:29] jongeller commented on #175
@jdhitsolutions that is actually a bug. New-ExternalHelp should not create an outline at all. If there is not a About.md present in the input files New-ExternalHelp should not create an About.txt. I'll look into this.

[2016-07-20 20:42] vors commented on #175
@jdhitsolutions can you provide a repro?

[2016-07-20 20:50] vors commented on #161
That blocks SQLPS help migration, because you can only run these command from the SQL provider.

[2016-07-20 20:54] vors commented on #161
This is actually applicable to `New-ExternalHelp`

[2016-07-20 21:00] vors commented on #140
Ok, so now we are keeping only valid URIs, because otherwise help engine blows when trying to consume it.

[2016-07-20 21:00] #140 closed

[2016-07-20 22:29] sankethka opened #176 "Update codebase to handle underscore version of italics and bold"
Steps to reproduce
------------------
Create an MD file with content that has double underscore (for italics) and triple underscore (for bold)
Generate MAML for the MD file

Expected behavior
-----------------
MAML would need to handle double and triple underscore as part of the conversion from MD to MAML

Actual behavior
---------------
MAML would handle only one underscore and retains the rest o

[2016-07-21 17:51] jdhitsolutions commented on #175
Hmm...perhaps I wasn't paying attention to what was in my Docs folder. Not able to reproduce this now.

[2016-07-21 17:55] vors commented on #175
Please, reopen if you see it again

[2016-07-21 17:55] #175 closed

[2016-07-21 18:03] jdhitsolutions opened #177 "Is there a naming conflict?"
If I run this command to generate new markdown including a module file
[code]
one of the files I get is iseremotetab.md which is the module summary file. But then when I go to run
[code]
I get a naming conflict. So I try this:
[code]
Which works but gives me the wrong information
# about_ISERemoteTab
## about_about_ISERemoteTab

The About file should have the same name as the module if I understan

[2016-07-22 19:05] sankethka commented on #163
@gerane Is this still an issue?

[2016-07-22 19:49] ChrisLynchHPE opened #178 "Q: How to get Aliases Attribute to display during Get-Help -Full or -Parameter output?"
I see that platyPS supports the `aliases` attribute in the Parameter section of a Markdown file.  However, how does one instruct Get-Help when it parses the MAML XML file to display the Aliases attribute in the table when invoking `Get-Help CmdletName -Full` or `Get-Help CmdletName -Parameter MyParam`?  Even in platyPS, when creates the `aliases` attribute for the parameter, Get-Help does not disp

[2016-07-22 20:26] jongeller commented on #178
@ChrisLynchHPE this isn't specific to PlatyPs, and so may be the wrong place for this question. However, let me look at it and see if there is anything you can do to get the platyPS specific content to show.

[2016-07-22 20:41] jongeller commented on #178
@ChrisLynchHPE I just took a look. PlatyPS does build aliases in a compliant manner. This means, it is likely the help engine does not display values in the xml as noted. I think that this error is outside PlatyPS and should be filed elseware.

@vors do you have a link for where an question like this could be logged?

[2016-07-22 20:42] ChrisLynchHPE commented on #178
I figured, which is why I flagged this as a Question, not an issue.

[2016-07-22 21:09] vors commented on #178
Yes, that's the limitation of the help engine.
PowerShell team uses [UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell) for gathering feedback, bug reports and feature requests.

[2016-07-22 21:09] #178 closed

[2016-07-28 06:54] SummerSun opened #179 "Could there be a code kind of property for MamlSyntax"
When generate the maml command from file, the syntax area is split and rendered as a collection of parameter. Could it be better if we have a raw code kind of prop for syntax?

[2016-07-30 00:20] Kreloc opened #180 "Multiline examples don't display as markdown code"
## Steps to reproduce

Have a function with multiple lines in an .EXAMPLE section

[code]
## Expected behavior

------------------------- EXAMPLE 1 -------------------------

[code]
## Actual behavior

------------------------- EXAMPLE 1 -------------------------

[code]

$verbs

v0.5.0

[2016-07-31 19:09] vors commented on #180
@Kreloc ah, interesting. Thank you for reporting it!
It's yet another help-engine problem that we probably should work-around in platyPS.

[2016-07-31 19:11] vors commented on #177
@jongeller can you comment?

[2016-07-31 19:12] vors commented on #179
Sorry, I don't follow. Can you, please, elaborate your idea?

[2016-08-01 09:43] SummerSun commented on #179
Sorry for not describing the problem clear.
I am trying the get a maml command (model) from the markdown file via the ModelTransformerVersion2.
In .md file, the syntax area looks like:
## SYNTAX

[code]
After transformation, I get a syntax model and serialize it as following:
[code]

I am wondering, could the syntax model (after transformation) has a code prop to keep the original code block value

[2016-08-02 19:50] jongeller commented on #128
future note from an offhand conversation in the hallway that applied....
could use this to find aliases in system:
[code]
Items with multiple aliases will return a count of the total number of aliases available. While this command would typically return an error, with the ErrorAction preference set, it only returns 0 if none are found.

[2016-08-02 19:57] jongeller opened #181 "Strip Alias CommandTypes from New/Update markdownhelp"
Discovered this while working on another bug for the SQLPS module which exists in another provider.
## Steps to reproduce

Run `New-Markdownhelp -Module SQLPS -Outputfolder "SomeLocaiton"`
There are two aliases type commands that will generate an error.
## Expected behavior

No errors, and no MDs generated for the Alias commands, since the correct help is actually written for the cmdlets the alias

[2016-08-02 22:45] jongeller commented on #161
resolved in e07fd67 - waiting for build to pass, then will merge into master along with other minor fixes.

[2016-08-02 23:08] vors commented on #179
Ah, I see now.
Is your scenario that you would like to use this info for your own purposes?

[2016-08-02 23:34] swernli opened #182 "Types for Outputs not regenerated by Update-MarkdownHelp"
## Steps to reproduce

1) Create a cmdlet that advertises an output type via OutputType decoration on the class.
2) Generate help files for that cmdlet, and observe that OUTPUTS section has the correct output type.
3) Change the OutputType on the cmdlet to a different object.
4) Regenerate the help files.
## Expected behavior

The help files list of types under OUTPUTS should match the OutputType

[2016-08-03 00:07] vors commented on #182
@swernli
am I correct that
* (2) corresponds to `New-ExtrenalHelp` call
* (4) corresponds to `New-ExtrenalHelp` call one more time?

[2016-08-03 00:57] swernli commented on #182
Ah, good point!  By regenerate, I mean we do the following:
1) Load the module
2) Call New-MarkdownHelp
3) Call Update-MarkdownHelp

[2016-08-03 01:11] vors commented on #182
@swernli I believe this is by design then.
When you initially create the help, powershell help engine doesn't have a maml file and it auto-populates some values, i.e. output.
Then on the subsequent runs, it already has values, so we don't do anything about it.

The reason is that people can have arbitrary strings with descriptions there and they could be more valuable then auto-generated one.
I ag

[2016-08-03 01:31] swernli commented on #182
Interesting... Good to know and thanks for the response!  If there were an option to force regeneration of some of these user defined fields like OutputType, I know it's something we would use.  From my perspective, the ideal usage would be for clients of your cmdlets to establish an automated way for all the help file data that can be generated (which this field is initially) to always get genera

[2016-08-03 07:48] vors commented on #182
@swernli I renamed the issue to make it easier to understand the problem from the title, without reading the whole issue.

[2016-08-03 07:49] vors commented on #181
@jongeller Interesting, I remember we added filter for aliases.

[2016-08-03 20:28] jongeller commented on #161
fixed tests in 0a5c56b will merge in to master on build test completion.

[2016-08-03 20:34] jongeller commented on #161
one build error remains. working on it now.

[2016-08-03 21:44] TaraMeyer opened #184 "New-MarkdownHelp not creating a landing page for Microsoft.PowerShell.Core module"
Steps to reproduce

I executed:

New-MarkdownHelp -module Microsoft.PowerShell.Core -OutputFolder "C:\Testing\Core\Output" -withModulePage -ModuleGuid "00000000-0000-0000-0000-000000000000"

Expected behavior
-----------------
Cmdlet level markdowns are created and a module landing page is also created

Actual behavior
---------------
Cmdlet level markdowns are created, but no module landing page

[2016-08-04 02:20] SummerSun commented on #179
Yes, we are trying to use the MamlModel generated from the markdown doc via platyps.

In our scenario, we want to get the maml model then convert the model to another one that fulfill our own requirements. During the conversion, most of the doc content works well as a model class but not the syntax. The plain code text is missing in the model definition, and is transferred into parameters which ar

[2016-08-04 02:24] vors commented on #179
How about some API what will allow you to generate this syntax block from parameters? That's essentially what we are doing down the stream, but APIs are not designed to be public yet.

[2016-08-04 17:07] jongeller commented on #161
This issue is now also a fix, if the file system provider in not in use. PlatyPS will change providers to the first available file system. This means C: will typically be the preferred drive. 6db781e

[2016-08-04 17:30] jongeller commented on #174
Merged into Master.

[2016-08-04 17:30] #174 closed

[2016-08-04 17:30] jongeller commented on #161
merged into master

[2016-08-04 17:30] #161 closed

[2016-08-04 17:31] jongeller commented on #184
@TaraMeyer @sankethka
Fixed, merging into the code now.

[2016-08-04 17:35] sankethka commented on #184
@jongeller what was the issue?

[2016-08-04 17:38] jongeller commented on #177
This is a bug in the logic for creating about topics, I'll update this.

Right now, external help generates a txt called `about_<AboutTopic>.txt`, the MD generated by New-MarkdownHelp is `<AboutTopic>.md` I think I need to change the MD file name to `about_<AboutTopic>.md`

[2016-08-04 17:40] jongeller commented on #184
Fixed in e559732

[2016-08-04 17:40] #184 closed

[2016-08-05 16:51] #177 closed

[2016-08-05 17:36] jongeller commented on #176
Resolved in 1a0b10c

[2016-08-08 02:20] SummerSun commented on #179
API sounds good too, when could we expect the APIs be public? And still really appreciate more if the syntax could have a 'code' property during generating the model from the document.

[2016-08-08 04:56] vors commented on #179
See, this syntax is write-only thing. It's not used in external help generation, because all the necessary info is present in the parameters metadata. It's there for reader convenience and to match familiar format of help.

External help *has* syntax entry, but it takes a much more complicated and [rich form](https://github.com/PowerShell/platyPS/blob/master/src/Markdown.MAML/Model/MAML/MamlSyntax

[2016-08-08 07:01] SummerSun commented on #179
Thank you vors for pointing the detailed line number of code.
From the solution 2 (i.e. the better approach), I found in class MarkdownV2Renderer, the GetSyntaxString totally fulfill my requirement if you could make it public.

[code]
Is there any plan for opening this kind of methods? Or could I just file a pull request to do so?

[2016-08-08 07:41] vors commented on #179
I sent PR #187 with necessary changes.
Feel free to take a look and review them.

[2016-08-08 21:32] sankethka opened #188 "During cabbing destination folder is not getting created if there is no folder"
**Steps to reproduce:**
1. Import platyPs

2. Generate MDs for a module in folder - lets take 'Microsoft.PowerShell.Archive' Module -> new-markdownhelp -module Microsoft.PowerShell.Archive -outputfolder 'ArchiveMD'
•   Do not pre-create folder with name: ArchiveMD.
•   After you run the platyps cmd you will notice that folder 'ArchiveMD' is created by system with Mds generated if not already there

[2016-08-09 03:55] SummerSun commented on #179
Great. Thank you vors.

[2016-08-09 22:25] jongeller opened #189 "SQL PS Module Generates two GUIDs"
Steps to reproduce
------------------
Run the command:
[code]

Expected behavior
-----------------
The YAML meta data block in the module landing page only has one GUID.

Actual behavior
---------------
Two GUIDs show up.
[code]

Environment data
----------------
PlatyPS - 0.6.1 with latest changes not yet released to PS Gallery
Windows 10
PowerShell 5.0

[2016-08-09 22:25] jongeller commented on #188
Resolving this now.

[2016-08-09 22:40] jongeller commented on #189
This seems to be an issue with SQLPS itself, on import, it loads a script as well as the module. The script has a all-zero GUID. will follow up, but does not look like a platyps issue.

[2016-08-09 22:40] #189 closed

[2016-08-09 22:52] jongeller commented on #188
pushed fix in 640d80e

[2016-08-09 23:22] kilasuit commented on #189
@jongeller - not sure on why this happens with SQLPS as this doesn't happen with the newer SQLServer module

However you can get round this with the below

[code]

Hope that helps

[2016-08-10 22:41] #179 closed

[2016-08-10 22:58] jongeller opened #190 "In Version 5.1 of PowerShell Pester Test: Get-Help has ValidateSet entry in syntax block"
## Steps to reproduce

Use PowerShell Version 5.1 and run pester tests.
## Expected behavior

All Tests to Pass
## Actual behavior

One test will fail, because Get-Help has changed between versions 5.0 and 5.1
Describing: Microsoft.PowerShell.Core (SMA) help
Context: Output SMA into C:\Git\PlatyPS\out\sma-model
Failed Test: Get-Help has ValidateSet entry in syntax block
## Environment data

Window

[2016-08-10 23:03] jongeller commented on #190
@vors how do you want to handle? Quick solution seems to be do a check for PowerShell version in the check.

[2016-08-10 23:21] vors commented on #190
Is it this error about hijacking? It's not 5.1 thing, it's the latest updatable help thing as far as I can tell. On CI it fails with PS 5.0. On a VM I was able to run all tests fine and it start failing after I updated help

[2016-08-11 15:39] jongeller commented on #190
It's not the hijacking thing. It's a new issue. Every builds and tests great in CI and one a local 5.0 machine. Once I upgrade to 5.1 though, I start seeing the test break.

[2016-08-11 15:42] jongeller commented on #188
merged to master.

[2016-08-11 15:42] #188 closed

[2016-08-11 15:43] jongeller commented on #176
merged to master.

[2016-08-11 15:43] #176 closed

[2016-08-13 20:27] mattmcnabb opened #191 "Markdown for format files"
Can PlatyPS be extended to generate custom xml format files as well? These suck to write!

Of course, I can see challenges around certain elements of format files, such as active scriptblocks. What do you think?

[2016-08-14 06:28] vors commented on #191
That's an interesting idea. Although, the bar for implementation is much higher, because it will include executable code.

[2016-08-14 15:37] mattmcnabb commented on #191
I agree, and at the moment I can't even wrap my head around how to achieve it, but every time I need to write a format file I start thinking about pulling the fire alarm.

[2016-08-15 04:09] vors commented on #191
I talked with @lzybkr and he pointed out a reasonable approach.
We can create a DSL for that.

Markdown was a reasonable choice for documentation, but formatting is a different kind of beast. It just happens that PS uses xmls for both of them.
I think powershell-based DSL can provide necessary flexibility and semantic checks.

We can take the same approach as platyPS: generate xmls as a build-step

[2016-08-15 14:31] jongeller commented on #189
@kilasuit thanks! It's good to have this in a back pocket when needed.

[2016-08-15 14:33] jongeller commented on #184
@sankethka some modules do not have a GUID assigned to them, if there is none assigned then it auto fills with all 0s.
This did however create a second issue in #189 - so it might not be the best solution when you import a module that has two separate pieces, one with a GUID, and one without.

[2016-08-15 14:37] jongeller commented on #181
@vors I'd like to look into it. I thought so too, but I'm still seeing the behavior :(

[2016-08-15 20:45] sankethka opened #193 "update-markdownhelp should update the help file name in each of the cmdlets MD and also update the GUID in the module landing page"
Steps to reproduce
------------------
Create MDs from a MAML file that doesn't have a standard help file name.
Run an update on MDs with the module installed

Expected behavior
-----------------
Cmdlet MDs should have the external help file name to be updated with original xml help file name from the module.
Also, the landing page should have the GUID updated if not already there.

Actual behavior

[2016-08-16 18:49] jongeller commented on #167
@jdhitsolutions
we started working on this, could not repro. Could you give us the steps where you encountered this?

[2016-08-17 17:31] jongeller opened #195 "Allow New-ExternalHelp to support about topics with YAML metadata blocks"
Currently the New-ExternalHelp cmdlets does not process about topics if they have a YAML metadata block. This needs to be possible to support any content with metadata.

1) The find MD portion of New-ExternalHelp needs to be updated to process topics that have the metadata block.

2) The conversion steps need to strip out the metadata block before processing.

[2016-08-17 18:18] jongeller commented on #195
Resolved in: fcc120d

[2016-08-17 21:29] jongeller commented on #195
Will need to update the new-externalhelp not to filter the MD based on *-*.md
It's catching about topics with dashes in the name and assuming they are cmdlets.

[2016-08-17 22:07] jongeller commented on #195
filtered out any topic that start with about_ from the cmdlets selection.

[2016-08-25 15:37] jongeller commented on #195
merged into master

[2016-08-25 15:37] #195 closed

[2016-08-25 15:38] jongeller commented on #193
@sankethka could you split this into two issues? These are separate asks.

[2016-08-27 01:50] KirkMunro commented on #191
I think using a DSL to define formatting is a great idea...it would be so much easier to read and modify than .format.ps1xml files.  I've been looking for additional use cases for DSLs and this is one I'm happy to add to the list.

[2016-08-27 03:08] mattmcnabb commented on #191
@KirkMunro thanks for joining the fray! Glad the idea is gaining some traction!

So when do we get started? Since @vors brought up the idea of a DSL for this, I've thought of a couple of approaches:

1. Using a tradition DSL approach similar to Pester - define natural language functions that accept scriptblocks and other paramters

[code]

2. A data file approach - define a simple data file and he

[2016-08-27 10:16] KirkMunro commented on #191
@mattmcnabb: My preference would be to use an actual DSL that is defined with the DynamicKeyword feature by leveraging and continuing work I have done on LanguagePx.  It should actually be relatively straightforward.  I've been talking with @dfinke about LanguagePx recently and we are just starting to collaborate on it.  I need to pick that work back up and this scenario is a good use case for tha

[2016-08-27 12:39] mattmcnabb commented on #191
Sounds great! I suppose that will limit support to v4.0 and up? Probably not a big deal. Will that work on .Net Core?

[2016-08-27 19:12] mattmcnabb commented on #191
@KirkMunro Nevermind - I did some testing and it does appear that dynamickeyword is supported in PowerShell on Linux at least.

[2016-08-30 19:45] vors commented on #191
Yes, I think we all agree that it should be the actual DSL implemented on top of DynamicKeyword. However, I'm not convinced that we should directly call formatting APIs that @lzybkr recently added. I think we should make it flexible to allow both approaches: call APIs and generate intermediate xml.

[2016-08-30 20:12] jongeller commented on #167
resolved in #199

[2016-08-31 14:54] jongeller commented on #135
resolved in 33da7dc

[2016-08-31 14:55] jongeller commented on #193
resolved in 0e7749df

[2016-08-31 20:08] vors commented on #163
I will take care of it

[2016-08-31 20:13] vors commented on #135
@jongeller should we close it?

[2016-08-31 22:10] vors opened #202 "New-MarkdownHelp doesn't respect SupportsWildcards and PSDefaultValue attributes"
- we don't respect `[SupportsWildcards()]` attribute
- we don't respect `[PSDefaultValue(Help='bar')]$foo`. Is it a thing? How is it different from `$foo = 'bar'`?

[2016-08-31 22:10] vors commented on #163
@gerane good catch! Sorry for not looking into it for a while.

After some investigations, I found that there is nothing wrong with Update-Markdown.
But there are two issues when we generate MamlModel

* we don't respect `[SupportsWildcards()]` attribute
* we don't respect `[PSDefaultValue(Help='bar')]$foo`. Is it a thing? How is it different from `$foo = 'bar'`?

I'm closing this issue and openin

[2016-08-31 22:10] #163 closed

[2016-08-31 22:11] vors commented on #163
I also verified that changing `ValueFromPipelineByPropertyName` triggers update just fine.

[2016-08-31 22:13] vors commented on #142
@jongeller I will take care of it

[2016-08-31 23:10] sankethka opened #204 "Add language identifier for all code generated in MD for syntax highlighting"
For all syntax code tags generated via platyps in MDs, add the language identifier next to the ticks i.e. add the word powershell. This would enable syntax highlighting as established by the publishing system.

For example: syntax can show in markdown as :
### Path (Default)
[code]
instead of
[code]

[2016-09-01 06:10] vors commented on #204
None of the code snippets that we produce represents a valid powershell

- syntax
- examples

Hence, we should not use highlighting because it would produce unpredictable and misleading results.

[2016-09-01 06:10] #204 closed

[2016-09-01 18:20] #142 closed

[2016-09-02 21:16] vors opened #205 "Unix / CoreCLR port"
We should port platyPS to work cross-platform on https://github.com/PowerShell/PowerShell

[2016-09-07 15:36] #193 closed

[2016-09-07 15:36] #167 closed

[2016-09-07 15:37] jongeller commented on #135
@vors yes, sorry, was out and away from a computer for the last week.

[2016-09-07 15:37] #135 closed

[2016-09-07 19:52] vors commented on #166
Tried to implement this and found that we have no control over `Required?` and `Accept wildcard characters?`. They always displayed as lower-case. Note that they represent bool values.

`Accept pipeline input?`, `Default Value` and `Position?` are string values.
With `Default Value` all bets are off: we cannot tweak what user provided, because it could be case-sensitive.

`Accept pipeline input?`

[2016-09-07 19:52] #166 closed

[2016-09-07 20:52] jdhitsolutions opened #206 "New-ExternalHelp Expect Heading error"
When running New-External help I will sometimes get an error like this:
[code]
Usually the offending code is in the example section. Most of the time the markdown looks perfectly fine and even displays just fine in online markdown viewers. But I'm wondering if there is some secret or expected formatting with regard to code sections. I know I have to use the 3 tildes. But is there any requirement f

[2016-09-07 22:30] vors commented on #206
Although 3 tildes are supported markdown syntax, but platyPS expects 3 backticks.
Relevant code: https://github.com/PowerShell/platyPS/blob/32cc4b625348e40ce39dd12da352eabc203720f9/src/Markdown.MAML/Parser/MarkdownParser.cs#L119

No special spacing rules.
I tried to capture everything in the [Schema](https://github.com/PowerShell/platyPS/blob/master/platyPS.schema.md#version-200). Please, let me k

[2016-09-07 22:30] #206 closed

[2016-09-08 12:26] jdhitsolutions commented on #206
Sorry, I meant back ticks. That's what I was using. I eventually got everything to work with some re-typing. Still not clear what the error is.

[2016-09-08 13:46] jdhitsolutions opened #207 "New-ExternalHelp Expect Heading error Revisited"
I can't re-open a the closed issue on this but I think something is going on. Running 0.6.1 on PS 5.0.10586.117 on Windows 8.1. Just modified the MD file that was giving me problems before and now when I try to create external help I get the same problem.

[code]

The markdown file looks fine to me and displays fine in a markdown viewer.
[problemmd.zip](https://github.com/PowerShell/platyPS/files/

[2016-09-08 14:04] jdhitsolutions commented on #207
I just verified the markdown in a different viewer and it displays as expected so there should be nothing wrong with the markdown. Something in the conversion process is choking on my file and I don't see any reason that it should.

[2016-09-08 14:17] jdhitsolutions commented on #207
I just noticed there's a new version so I remove 0.6.1 and installed 0.7.0. Same error.

[2016-09-08 15:16] jdhitsolutions opened #208 "online link converted to online version metadata"
Steps to reproduce
------------------
I have a simple PowerShell function with this in the comment based help.
[code]
It is the only link.

Actual behavior
---------------
When I run New-MarkdownHelp for the command, the link ends up in the metadata:

[code]
Expected behavior
-----------------
this shouldn't end up in metadata

Environment data
----------------

v0.7.0

[2016-09-08 15:27] jdhitsolutions commented on #131
Just converted a command with comment based help to markdown using v0.7.0. Comment based help included the prompts and New-Markdownhelp stripped them out.

[2016-09-08 15:34] jdhitsolutions commented on #131
I also just created a simple function with no comment help and the auto generated example included the PS C:\> prompt.  I guess I need it both ways. We need to have a prompt generated like this, but if the comment-based help includes a prompt, use that instead because the example prompt may be relevant to the example.

[2016-09-08 15:38] jdhitsolutions commented on #180
I might as well add something to the mix here. I often have multiple commands in an example:
[code]
Followed by a blank line and then an explanation. I'd love for the PowerShell commands to be treated as a code block.

[2016-09-08 15:41] jdhitsolutions opened #209 "New Markdown Examples lack delimiter and padding"
## Steps to reproduce

Take any command that does not have comment based help. I created a tester

[code]

Then run New-MarkdownHelp for the command.
## Expected behavior

I'm expecting an example heading like this:
### -------------------------- EXAMPLE 1 --------------------------
## Actual behavior
### Example 1
## Environment data

v0.7.0

[2016-09-08 16:44] vors commented on #209
That's an interesting one.
These delimiters are coming from the actual title in the maml-xmls.
In the core cmdlets, help consistently has them, but in other doesn't.
So it's more of the convention than the standard.

Also see #119 for the same discussion

[2016-09-08 16:46] vors commented on #209
I'm leaning toward stripping delimiters from generated markdown and maybe adding them to maml.
There is no reason to have this delimiters in markdown, because headers already makes a section. Also it would help get a consistent view.

[2016-09-08 17:04] jdhitsolutions commented on #209
As long as the generated MAML has the right example headers I'd be fine with that.

[2016-09-08 21:55] jdhitsolutions commented on #207
This might be related to #180. The error was coming in the middle of an example. I restructured it putting all the code together and got past that section of the markdown file. Still running into the issue later in the file but at least I have a better idea of how I might get around it.

[2016-09-12 23:02] cormacpayne opened #210 "No spacing between examples after Update-MarkdownHelpModule"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------

###Example 1: Foo
[code]

This command does foo.

###Example 2: Bar
[code]

This command does bar.

###Example 3: Temp

Actual behavior
---------------

###Example 1: Foo
[code]

This command does foo.
###Example 2: Bar
[code]

This command does bar.
###Example 3: Temp

**Note**: I removed the spacing between '###'

[2016-09-13 18:45] vors commented on #210
Thank you @cormacpayne for reporting the issue!

In regard to your Note, you can use markdown code snippets (with three backticks) to tell github to keep text as-is, without applying markdown formatter. For example

[code]

[2016-09-14 20:06] cormacpayne opened #211 "Description for Confirm and WhatIf parameters can be auto-generated"
For cmdlets supporting Confirm and WhatIf the generated description for these parameters in markdown is as follows:

[code]

I think that these parameters are generic enough that there can be a generated description for each Confirm and WhatIf. Something along the lines of:

[code]

[2016-09-14 21:36] vors commented on #209
Also @cormacpayne pointed out that generated examples don't have extra padding line between them.

[2016-09-14 21:40] vors commented on #208
This is by design: PowerShell help engine uses the first link with URL from the RELATED LINKS as OnlineHelpUrl. We are making this more explicit, with putting this link into metadata.
Original issue: https://github.com/PowerShell/platyPS/issues/123

[2016-09-14 21:40] #208 closed

[2016-09-14 21:46] vors opened #212 "Don't preserve new-lines in Example code (MAML)"
Originally the issue reported by @cormacpayne

Note: the markdown maintains this table format, so it might be an issue with the conversion to MAML

Steps to reproduce
------------------
Convert cmdlet `Get-AzureRmSqlCapability` to markdown and then to the maml and get help preview.

Expected behavior
-----------------

[code]

Corresponding MAML

[code]

Actual behavior
---------------

[code]
Cor

[2016-09-16 23:37] vors opened #213 ""Verifies that a bad metadata value for the help file is fixed on update" test fails on a subsequent runs"
## Steps to reproduce

Run `Invoke-Pester F:\dev\platyPS\test\Pester\PlatyPs.Tests.ps1` twice
## Expected behavior

All tests are passing
## Actual behavior

The test "Verifies that a bad metadata value for the help file is fixed on update" fails
## Environment data

v0.7.0

[2016-09-17 01:15] vors commented on #212
This is fixed per 15d62cb6044b779c5f7072daa4e25f73212d27c7

[2016-09-17 01:18] vors commented on #210
This is fixed per 15d62cb6044b779c5f7072daa4e25f73212d27c7

[2016-09-17 01:18] #210 closed

[2016-09-17 01:25] vors commented on #211
I'm going to use the standard phrases from the core modules:

[code]

[2016-09-17 01:47] vors commented on #211
Fixed per 1a247617e4f11ea87548c228749e9daa1f506d48

[2016-09-17 01:47] #211 closed

[2016-09-17 02:05] vors commented on #212
@cormacpayne

I dug in the example and the reason why it's misformatted is because the Maml was written inaccuratelly.
This space-sensitive text that represents the output of the command in the `<code>` block, should be part of `<code>` block itself.

Let's take a look at the markdown that we generate for this command.

	### --------------------------  Example 1: Get capabilities for the current s

[2016-09-17 02:05] #212 closed

[2016-09-19 18:14] jongeller opened #214 "New Log implementation for update scenario"
For @sankethka - this will update the logging in PlatyPS for the update scenario. In Update-MarkdownHelp and Update-MarkdownHelpModule

The logs will now have output that looks like the following:
# Start and End

---- UPDATING Cmdlet : <name of cmdlet> ----
---- COMPLETED UPDATING Cmdlet : <name of cmdlet> ----
# Parameter sets – Any addition/deletion or updates to parameter sets should be reflec

[2016-09-19 18:15] sankethka commented on #214
@jongeller got it. thanks

[2016-09-26 20:49] cormacpayne commented on #209
@vors since example headers already create sections in markdown, I like the idea of keeping it "clean" and avoiding delimiters for markdown. However, I think that delimiters will look much better for MAML than a couple extra new lines after each example because it will **clearly** show when the next example starts.

[2016-09-28 22:39] cormacpayne opened #218 "platyPS unable to find imported module in cmdlet"
I am working on creating a module that leverages platyPS to help service teams for Azure PowerShell convert to markdown help to assist with writing the dll-Help.xml files. Within this module are cmdlets that import the psd1 file or dll file that was built by the user, which are used to create or update the markdown files. However, when importing the dll files, platyPS still throws the error found

[2016-09-29 09:50] Sarafian commented on #139
I've run into the same issue and after some experimentation I've noticed that this generated incorrect parameter sets
[code]

Instead using the `-Module` parameter works great and that is our current workaround
[code]

I consider this a bug because there is inconsistency in the behavior and the data exists.

[2016-10-14 00:44] RobdeJong opened #220 "Linebreak are missing in MAML generated through PlatyPS"
I created md’s for all of the cmdlets in our AzureAD module, and this worked great.

Then I proceeded to generate the MAML files and I found this issue:

In the examples section of my cmdlets there are examples with multiple lines. These are parsed correctly in the md but seem to miss line breaks in the dll-help.xml

Example: for the cmdlet Get-AzureADDevice, Example 2 is

### --------------------

[2016-10-14 00:56] vors commented on #220
This is a duplicate of #212.
It's a problem in the original MAML and unfortunately, we cannot do much about it. You can hand-edit the resulted maml and move the output inside the code section, like it's done in all core cmdlets. For more details, please see the comments on #212

[2016-10-14 00:56] #220 closed

[2016-10-14 15:15] TaraMeyer commented on #214
@jongeller  has the log been implemented or is it still in dev?  Thanks!

[2016-10-14 15:19] TaraMeyer commented on #220
@vors  is this something we can manually fix in the MDs so it doesn't flow into the help.ml?  Just trying to figure out how to solve for this when we migrate all of Azure.

[2016-10-14 16:36] vors commented on #220
Yes, it needs to be one time fixed in md.

[2016-10-15 02:52] TaraMeyer opened #221 "PlatyPS is creating and adding PSDSC -help.xml to the maml/cab files for the PowerShellGet module"
Wondering if this behavior exists because of the Find-DscResource  being part of the PowerShellGet  as well as PSDSC module.

[PowershellGet.zip](https://github.com/PowerShell/platyPS/files/530724/PowershellGet.zip)
![capture](https://cloud.githubusercontent.com/assets/14112499/19406969/9f73c952-9247-11e6-87ce-3aba59fb5297.PNG)

Steps to reproduce:
- Execute New-ExternalHelp on the PowerShellGet M

[2016-10-15 22:02] vors commented on #221
Interesting. Thank you, Tara for reporting the issue.
It boils down to the fact that in `Find-DscResource.md` the help file name metadata is incorrect.

[code]

This field is auto-propagated by platyPS and it's likely a bug in the initialization.
To workaround the problem you can edit this metadata manually.

[2016-10-19 04:29] TaraMeyer commented on #221
Thank you for the workaround, Sergei.

[2016-10-27 06:14] rkeithhill opened #222 "Markdown chars in generated help.txt file"
## Steps to reproduce

 Here's the markdown:

[code]
## Expected behavior

Outputs with the backticks stripped out:

[code]
## Actual behavior

Outputs:

[code]
## Environment data

v0.7.2

[2016-10-27 06:17] rkeithhill commented on #222
In an ideal world, newer PowerShell versions would recognize a help.md file (if the host supports ansi/vt seqs) and would output something like this:
![image](https://cloud.githubusercontent.com/assets/5177512/19756528/974f2018-9bda-11e6-9648-f18622f63ce9.png)

And on down-level versions of PowerShell (or on a host without ansi/vt support) it would fallback to the plain text help.txt file.

[2016-10-27 06:52] vors commented on #222
Good suggestion! Should be easy to implement.

[2016-10-28 04:27] rkeithhill opened #223 "Running Update-MarkdownHelp with no changes is adding CommonParameters"
BTW very well could be a problem with the initial new-markdownhelp not adding the common parameter info in the first place.
## Steps to reproduce

Generate markdown with new-markdownhelp on advanced function.
Fill in placeholders.
Commit that
With no changes to the function run update-markdownhelp.
## Expected behavior

No difference.
## Actual behavior

[CommonParameters] was added to the syntax

[2016-10-28 04:56] rkeithhill opened #224 "Error handling links to other commands"
These are really "see also" links in the sense that there isn't a link per se, just a reference to related commands.  For instance, look at the bottom of full help on Get-Process.  You'll see "Stop-Process" but it isn't a link with Get-Help displaying the topic.
## Steps to reproduce

Create comment-based help with something like this for .LINK:

[code]
## Expected behavior

New-MarkdownHelp would

[2016-10-29 05:09] rkeithhill opened #225 "Update-MarkdownHelp adding back in a space that VSCode removes"
## Steps to reproduce

Set up VSCode to trim trailing whitespace.
Create a markdown for a function.
Save it from VSCode with trim trailing whitespace enabled.
Run Update-MarkdownHelp on the markdown file.
## Expected behavior

The command should not modify the file because we haven't changed it.
## Actual behavior

The command is adding back in a space after `Aliases:`:
![image](https://cloud.gith

[2016-10-30 22:05] rkeithhill commented on #223
In general, Update-MarkdownHelp seems to be unstable running it in our build script for Plaster.  I was hoping the command would pick up on parameter changes but it winds up modifying the MD files during builds when the Plaster functions have not changed at all.  Check out this particular diff:
![image](https://cloud.githubusercontent.com/assets/5177512/19840407/a83a0158-9eba-11e6-8a5e-bf70487e489

[2016-10-30 22:12] rkeithhill commented on #223
Here's another example of Update-MarkdownHelp running in our build script where nothing has changed on the module's exported functions:
![image](https://cloud.githubusercontent.com/assets/5177512/19840448/a3147658-9ebb-11e6-842f-3fd8b51b1289.png)

Why is it reordering the metadata at the top and deleting certain blank lines?

[2016-10-30 22:37] rkeithhill opened #226 "New-ExternalHelpCab files - created them, now what?"
This is on 0.7.2 and isn't a bug but a question.  What is the rest of the process once the cab files are created to hook them into PowerShell's updatable help?

[2016-10-30 22:59] rkeithhill commented on #223
Also, I'm not using -AlphabeticParamsOrder yet Update-MarkdownHelp wants to put Confirm first rather than at the end before WhatIf.

[2016-10-31 21:13] juneb commented on #226
https://msdn.microsoft.com/en-us/library/hh852735(v=vs.85).aspx

[2016-10-31 21:18] juneb opened #228 "New-ExternalHelp is not handling internal errors"
When you use New-ExternalHelp to convert a PlatyPS About topic to TXT, you get a stream of error messages (looking for cmdlet help) that probably should be suppressed or converted to warnings. Not a great user experience.

![screenshot 2016-10-31 15 13 34](https://cloud.githubusercontent.com/assets/2954883/19871900/ae6bdba6-9f7c-11e6-853c-de8bfe28f3b1.png)

[2016-10-31 21:39] rkeithhill commented on #226
Thanks June! BTW did you happen to write that?  :-)

[2016-10-31 21:39] #226 closed

[2016-10-31 21:41] rkeithhill commented on #228
What's the deal with about_topic filenames anyway?  I found I couldn't get PowerShell to recognize about_foo.txt but it would recognize about_foo.help.txt.  As a result, I had to name my MD files about_foo.help.md.

[2016-10-31 22:36] juneb commented on #228
@rkeithhill, that's just a syntax rule of about topics. The name is about_<name>-help.txt. That allows you to have other .txt files for other purposes without having them accidentally identified as PowerShell About topics.

[2016-10-31 22:38] juneb opened #229 "New-MarkdownAboutHelp doesn't create intermediate directories"
Except for New-MarkdownAboutHelp, all of the functions in the PlatyPS module create the directories specified in the value of the OutputPath parameters.

Is there some reason that this function does it differently (without any mention in the help topic)?

[2016-10-31 23:17] juneb commented on #228
Closed by mistake.

[2016-10-31 23:27] juneb opened #230 "Update-MarkdownHelp is generating inappropriate errors for end-user"
In this simple module, I added a new function and updated a couple of parameter attributes. I made sure to import the module manually in advance.

These errors should be caught by typical error handling and presented as actionable errors to the end-user.

The .md files were generated by PlatyPS with no manual changes. I'm attaching an image of the errors, the .md files, and the module.
![screensho

[2016-10-31 23:33] juneb opened #231 "PlatyPS XML help file names don't work on 3.0"
PlatyPS generates module-based XML help file names that don't work on systems < PS 4.0. It also doesn't add or mention the .ExternalHelp comment keyword that's required for functions in Get-Help 3.0.

It would be best to provide an option for 3.0 file naming/#.ExternalHelp, but if you don't (and that's fine), you should, at least, explain to the user that the resulting files work only on 4.0+.

[2016-11-01 04:40] rkeithhill opened #232 "New-ExternalHelpCab updates the Module.md file"
The question is why does it update the version in this MD file?

Steps to reproduce
------------------

This is the command the updates the module.md file in our build pipeline:
[code]

Expected behavior
-----------------
The documentation for the command mentions nothing about updating the module.md file.  I was expecting this command to not change any of the MD files.  We run this as a part of a

[2016-11-01 05:38] sankethka commented on #232
@rkeithhill That's by design. When CABs are generated this up versioning is important so that updateable help can pick up the latest.

[2016-11-01 06:13] rkeithhill commented on #232
So you wouldn't recommend this step be part of the normal build pipeline?  Perhaps run manually when someone wants to update the updatable help?

[2016-11-01 15:56] vors commented on #232
I think we should make it optional. Probably with `-SkipVersionUpdate` flag or something alike.

[2016-11-04 08:32] SummerSun opened #233 "strong tag in description area is lost when converting content back to maml model"
Steps to reproduce
------------------
1. Take any document generated by platyps with \*\* tag in the desciption, like [THIS](https://github.com/Azure/azure-docs-powershell-azuread/blob/master/Azure%20AD%20Cmdlets/AzureAD/v2/Add-AzureADApplicationOwner.md) for example. The raw content of description is:
The \*\*Add-AzureADApplicationOwner** cmdlet adds an owner to an Azure Active Directory applicat

[2016-11-08 06:16] SummerSun commented on #233
Found the solution in code and close the issue.
[code]

[2016-11-08 06:16] #233 closed

[2016-11-11 23:20] TaraMeyer opened #235 "New-ExternalHelp Cmdlet does not rename About topics file correctly- updatable help fails will fail"
Context:

The PowerShell help engine about files need to be named .help.txt. in order to be read by the console.

Steps to reproduce
------------------
Create a new about topic MD using New-MarkdownAboutHelp
Use New-ExternalHelp cmdlet to convert new about topic MD to text file
Use New ExternalHelpCab cmdlet to create help file for module and supporting about topics
Test the cab files created loca

[2016-11-12 00:19] vors opened #236 "Build is broken in master"
Update to core help files caused the build to fail
https://ci.appveyor.com/project/PowerShell/markdown-maml/build/0.7.1.879#L485

![image](https://cloud.githubusercontent.com/assets/816680/20233993/9c38d64e-a82a-11e6-92f5-5d93c4ddbea9.png)

[2016-11-12 00:31] vors commented on #235
Fixed in 0.7.3

[2016-11-12 00:31] #235 closed

[2016-11-12 01:50] vors commented on #236
Fixed in c13cb4b

[2016-11-12 01:59] vors commented on #236
Still 2 errors:

`Get-Help has ValidateSet entry in syntax block x 2`

[2016-11-14 20:13] vors opened #237 "Errors should contain full path to the file and not just the line number"
This log file is very hard to read because of the lack of context about the file, where error accured
https://ci.appveyor.com/project/PowerShell/powershell-docs/build/1.0.81

[2016-11-14 21:23] vors commented on #236
Fixed in 9f9d504

[2016-11-14 21:23] #236 closed

[2016-11-15 01:19] vors opened #238 "[Deprecation] remove schema v1 from the current version (and conversion support)"
To be able to move forward with #112, we need to remove schema v1 support from the tool.
Old versions of the tool still will be around, so if somebody didn't migrate yet, they can do that using an older version.

[2016-11-16 01:10] vors opened #239 "Allow snippets in parameter definitions"
Steps to reproduce
------------------

There is a legitimate use of snippets in parameter descriptions.
I.e. https://github.com/PowerShell/PowerShell-Docs/blob/a3fbff254eb48ce1fcb94995a07a6052b1841c78/reference/5.1/Microsoft.PowerShell.Utility/ConvertFrom-String.md#-templatefile

Expected behavior
-----------------

We should be able to compile it

Actual behavior
---------------

[code]

Environm

[2016-11-17 03:57] doesitscript opened #240 "Remove Existing Comment Based Help"
Steps to reproduce
------------------
Update-MarkdownHelp .\docs
Leaves comment based help

Expected behavior
-----------------
Update-MarkdownHelp .\docs -Clean
Removes comment based help from module.

Actual behavior
---------------
Update-MarkdownHelp .\docs
Leaves comment based help in module

Environment data
----------------

v0.5.0

[2016-11-17 23:41] vors commented on #237
Fixed per 980a528befec9ec60170d0fafc9e5d86436aa2ea

[2016-11-17 23:41] #237 closed

[2016-11-17 23:42] vors commented on #238
@sankethka @jongeller are you ok with removing schema 1 from the tool?

[2016-11-18 00:59] vors commented on #239
Fixed per #60a3a40

[2016-11-18 00:59] #239 closed

[2016-11-18 01:57] sankethka commented on #238
@vors Yeah I am fine. @jongeller @raien66 Any impact on migration?

[2016-11-28 18:23] joeyaiello commented on #221
Closing given that this was fixed in the help itself.

[2016-11-28 18:23] #221 closed

[2016-12-02 19:31] adityapatwardhan opened #241 "Help file name for script based modules is missing the file extension"
Steps to reproduce
------------------
Generate help content for Microsoft.Powershell.Archive module.

Expected behavior
-----------------
The help file name is: Microsoft.PowerShell.Archive.psm1-help.xml

Actual behavior
---------------
The actual file name is: Microsoft.PowerShell.Archive-help.xml

Environment data
----------------

BuildVersion                   3.0.0.0
WSManStackVersion

[2016-12-04 08:44] vors commented on #240
Are you talking about removing comment-based help from `.psm1` file?

[2016-12-04 08:47] vors commented on #241
`Microsoft.PowerShell.Archive-help.xml` is the correct **default** name for the script modules.

[2016-12-04 08:47] #241 closed

[2016-12-04 09:21] doesitscript commented on #240
Yes. Seems unnecessary to have the help there after building the xml and markdown help.

[2016-12-04 17:42] vors commented on #240
That's an interesting scenario.

We don't manipulate the source code of the module anywhere in the platyPS.
It would require creating completely new functionality and it's outside of the scope of platyPS.

[2016-12-04 17:42] #240 closed

[2016-12-06 19:12] raien66 opened #242 "Parameter yaml block extra empty line after Aliases"
Steps to reproduce
------------------
1. Generate MD from any PowerShell cmdlet that has at least 1 parameter.
2. Check the MD file parameter yaml block

Expected behavior
-----------------
There is an extra empty line after "Aliases: "

Actual behavior
---------------
There should be no extra empty line within any parameter yaml block

Environment data
----------------

v0.7.4

[2016-12-09 18:14] zjalexander opened #243 "Schema forces script output to get syntax highlighting"
The schema forces overaggressive codeblocks which include output. Our own help then gets formatted strangely, but we can't correct the issue without PlatyPS failing the schema check.

Can we alter the proposal so it doesn't look so counter-intuitively weird?

Steps to reproduce
------------------
See:
https://msdn.microsoft.com/en-us/powershell/reference/5.1/microsoft.powershell.utility/export-csv

[2016-12-14 01:54] zjalexander commented on #243
suggestion from @joeyaiello is to tokenize between Example headers instead of tokenizing on codeblocks.

[2016-12-14 01:58] zjalexander opened #244 "PlatyPS needs to handle about_ topics"
We should be able to generate correct files for the about_ topics using platyPS

[2016-12-14 01:59] zjalexander opened #245 "PlatyPS needs to create help for dynamic parameters"
See https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/16304866-custom-cmdlet-help-is-broken-in-5-0 and https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/15487152-help-for-documentencryptioncert-dynamic-parameter

[2016-12-16 23:04] adityapatwardhan opened #246 "The preamble for <helpItems> does not contain xmlnamespace"
The preamble hardcoded in https://github.com/PowerShell/platyPS/blob/master/src/Markdown.MAML/Renderer/MamlRenderer.cs#L20 does not have the namespace "http://msh". This causes the xpath queries for provider help to fail.

Steps to reproduce
------------------
Generate any help file MAML. The <helpItems> tags will be missing xmlns.

Expected behavior
-----------------
[code]
Actual behavior
------

[2016-12-21 04:24] rkeithhill commented on #225
Sure would be nice if platyPS didn't add the space after `Aliases:` in the first place.  That would play better with editors like VSCode where users can configure the editor to trim trailing whitespace automatically which is very useful for PowerShell scripts.

[2016-12-21 14:17] vors commented on #225
Agree, it would be nice to have.
Should be pretty easy to add.

[2016-12-21 14:19] vors commented on #242
This is by design.

https://github.com/PowerShell/platyPS/blob/master/platyPS.schema.md#version-200

[2016-12-21 14:19] #242 closed

[2016-12-21 14:24] vors commented on #243
PlatyPS scheme doesn't force language moniker in Examples.

In your example the source is (note, there is **no language moniker**)

    ### Example 2: Export processes to a comma-delimited file
[code]

I suspect that it could be addressed on the Open Publishing System side.

[2016-12-21 14:24] #243 closed

[2016-12-21 14:26] vors commented on #244
It's done in version 0.6.0, see changelog https://github.com/PowerShell/platyPS/blob/master/CHANGELOG.md#060

[2016-12-21 14:26] #244 closed

[2016-12-21 14:27] vors commented on #244
Also see https://github.com/PowerShell/platyPS/blob/master/docs/about_platyPS.md as an dogfood example.

[2016-12-21 14:29] vors commented on #245
What exactly support for dynamic help means?
Can you elaborate please.

[2016-12-21 14:30] vors commented on #246
Does it fixes #245 ?

[2016-12-21 14:32] #246 closed

[2016-12-21 14:35] vors opened #248 "Failures in master"
https://ci.appveyor.com/project/PowerShell/markdown-maml/build/0.7.4.893

[code]

Could be because of the updated help cabs

[2016-12-22 16:43] vors commented on #205
I started this work in [unix](https://github.com/PowerShell/platyPS/tree/unix) branch

[2016-12-22 17:29] vors opened #249 "Investigate "generates markdown with correct synopsis" test: it's incorrect but passing"
The tests uses same line in synopsis and description.
Should investigate why it passed before.

[2016-12-24 16:32] jdhitsolutions opened #250 "Provide Related Links template"
Since many people using this module may be new to markdown, the module needs to be a bit more forgiving. I'd put myself in this category as well. Most IT Pros who are used to creating comment based help are familiar with simply listing a cmdlet name under Links.

But in the generated MD file if you try to use something like this:
[code]
You get an error when exporting to external help. It took me

[2017-01-03 18:04] zjalexander commented on #245
Providers can have different parameter sets for some cmdlets, such as the Certificate provider or the Registry provider. That is defined in an XML section. Our current solution to generate help for this set of content is to copy the XML out of one file and paste it into the latest version of help. As the UserVoice entries indicate, this is .... not scaling successfully.

cc @joeyaiello and @juneb

[2017-01-04 21:48] juneb commented on #245
Almost! Providers can add parameters to a cmdlet dynamically. To cover this in help, we added custom cmdlet help for providers and nested it in provider help XML. To make it work, the provider has to implement the ICmdletProviderSupportsHelp interface. I think all of the core providers did that by the close of 3.0.

[https://blogs.msdn.microsoft.com/powershell/2009/05/28/adding-custom-cmdlet-help-

[2017-01-09 21:18] jdhitsolutions opened #251 "Creating About help fails with "StartIndex cannot be less than zero.""
Steps to reproduce
------------------
Created a markdown about help topic to .\Docs. Modified markdown. Tried to run New-Externalhelp --path .\Docs -output .\En-Us
This is for a DSC resource so there is no other help other than the about topic.

Expected behavior
-----------------
Assuming I will get an about txt file in En-US.

Actual behavior
---------------
[code]

Environment data
------------

[2017-01-10 18:41] jdhitsolutions commented on #251
Here is some detail from the exception

[code]

[2017-01-10 19:22] jdhitsolutions commented on #251
I think I've narrowed down the problem. In See also I was trying to use markdown like this:

[https://www.pluralsight.com/courses/powershell-web-access-server-implementing](https://www.pluralsight.com/courses/powershell-web-access-server-implementing)

If I remove https:// from the [] part, then it works without error. However something like this also works without error

[https://www.Bing.com/foo

[2017-01-12 14:39] jdhitsolutions opened #252 "Need options for creating ModulePage"
If you want to generate an external help cab, it seems you need to have created the module page when you run New-MarkdownHelp. But what if you didn't? There's no provision for creating just the module page. I can think of a few cumbersome workarounds but it would be helpful to have a parameter or cmdlet for creating just the module page.

[2017-02-08 22:13] juneb opened #253 "MD pages for workflows are missing CommonParameters entry"
PlatyPS 0.7.4 creates .md files for workflows with a WorkflowCommonParameters entry, but missing a CommonParameters entry. Workflows have both common parameters and workflow common parameters.

[Invoke-AsWorkflowMD.zip](https://github.com/PowerShell/platyPS/files/762093/Invoke-AsWorkflowMD.zip)

[2017-02-24 00:41] joeyaiello commented on #248
Fixed per the last release

[2017-02-24 00:41] #248 closed

[2017-02-27 23:25] SAPIENTechnologies opened #259 "Question: How do I specify a module version?"
If I have >1 version of a module on my system and I want to create MD files for the commands in a particular version of my module, how do I do that?

[2017-03-02 22:59] 4lch4 opened #261 "RelatedLinks uses incorrect namespace"
The official documents for PowerShell cmdlet help states that RelatedLinks should be <maml:relatedLinks> as opposed to the currently used <command:relatedLinks> (https://msdn.microsoft.com/en-us/library/bb736334(v=vs.85).aspx).

This causes problems for other apps that expect the related links to have the maml namespace.

v0.5.0

[2017-03-06 17:13] vors commented on #259
Currently you need to import the module to the session. I think recent versions of ps allows you to import more then one version simultaneously. In this case you need to remove previous versions from the session.

[2017-03-07 04:06] vors opened #262 "Auto file naming should handle cdxml better"
In [her naming help video](https://www.youtube.com/watch?v=swrIQ2Bx-M0) @juneb is pointing out problems with cdxml help.

Essentially, we should generate a better names in `GetHelpFileName` for cdxml.
https://github.com/PowerShell/platyPS/blob/f24b9447afe201bc4240d8ccfda2c06bd3895b27/src/platyPS/platyPS.psm1#L1458

[2017-03-07 16:26] juneb commented on #262
The XML help file rules for CIM commands are the same as the rules for cmdlets, providers, and workflows.

The only difference is that CIM modules tend to have more CDXML files, so the task of creating one CDXML-help.xml file for each CDXML file is more cumbersome, unless it's automated.

[2017-03-09 18:24] juanpablojofre opened #263 "New-MarkdownHelp cannot generate markdown for cmdlet functions like 'A:'"
Steps to reproduce
------------------
Get-Command -Name A:
New-MarkdownHelp -Command "A:" -OutputFolder C:\tmp

Expected behavior
-----------------
Should generate markdown file, like it does for other functions.

Actual behavior
---------------
Returns error:

[code]

Environment data
----------------
¶ >$PSVersionTable

Name                           Value
----                           -----
PS

[2017-03-09 23:30] juanpablojofre opened #264 "Example code should not start with 'PS C:\>'"
Steps to reproduce
------------------
[code]

Expected behavior
-----------------
## EXAMPLES

### Example 1
[code]

{{ Add example description here }}

Actual behavior
---------------
## EXAMPLES

### Example 1
[code]

{{ Add example description here }}

Environment data
----------------

v0.5.0

[2017-03-27 08:25] cgranade opened #265 "Failure on PowerShell Core due to Hashable"
Steps to reproduce
------------------

[code]

Expected behavior
-----------------

A new folder ``docs/`` should be created with Markdown documentation for ``$ModuleName``.

Actual behavior
---------------

The following errors are printed to the console:

[code]

While I recognize that the former error is related to not having an alias for ``mkdir`` set up correctly, I suspect that the error abo

[2017-03-30 03:10] TaraMeyer opened #266 "Platyps should support multiple code block sections"
Steps to reproduce
------------------
Add two code blocks to an example.  Platyps only supports one code block.  Build fails when checked with New-ExternalHelp.

Expected behavior
-----------------
Multiple code blocks should be supported in the example section of the MD by Platyps

Actual behavior
---------------
Only one code block is supported in the example section of MD by Platyps

Environmen

[2017-03-30 05:55] sankethka commented on #266
@vors is this something you can help us fix this pls? causing a lot of pain. users want to add multiple code blocks for an  example and platyps fails when building maml model.

[2017-03-30 08:27] chelnak opened #267 "Update-MarkdownHelp should support -NoMetadata"
Steps to reproduce
------------------
Create help files with the NoMetadata parameter

[code]

Executing an update fails:

[code]

Expected behavior
-----------------

Update-MarkdownHelp updates the help file even if there is no metadata

Actual behavior
---------------
You receive the following error:

[code]

Environment data
----------------

[code]

[2017-03-30 09:11] chelnak commented on #267
After having a closer look at how things work it seems that the unexpected header error is actually being caused because ModelTransformerVersion1.cs doesn't implement SyntaxRule like ModelTransformerVersion2.cs.

Can anyone shed any light on this?

I do not want metadata in my mark down files (causing the schema to default to 1.0.0), but because they include a syntax header it probably should be 2

[2017-04-10 18:30] TaraMeyer commented on #266
@sankethka @vors  after talking this over with Jon it's clearer that in order to support this functionality an update to the PowerShell engine would need to happen as the PowerShell engine is only expecting and looking for one code block per example section.  Closing this issue for now.

[2017-04-10 18:30] #266 closed

[2017-04-10 18:34] TaraMeyer opened #268 "Improve Error Messages for Multiple Errors in Example section"
cmdlet.

Steps to reproduce

Add an extra code block in an example section- try to build a help.xml using the New-ExternalHelp cmdlet.  An error is thrown.  That error is unclear that it is related to the specific code block or why.

Remove the code tag from the example section.  Execute New-ExternalHelp and an error is thrown
------------------
There are two thing  where  messaging should be impr

[2017-04-10 18:35] vors commented on #266
It's possible to mock it out and concatenate on the platyPS side, but that would lead to un-intuitive transformation, i.e. the text in between two codeblock would be eather before them or after them, which is bad. So I agree: it require changes from the PS side.

[2017-04-13 14:26] jongeller commented on #268
Adding enhanced reporting to the Markdown Parser, it will now be able to write warnings to the console if an potential issue is detected.

[2017-04-13 16:44] jongeller commented on #268
@sankethka this is now complete and in branch f8a6c42 I reviewed with @TaraMeyer and it definitely hits the first issue above, can you clarify the second issue?

[2017-04-14 22:23] sankethka commented on #268
@jongeller this is good. Can u pls push this?

[2017-04-18 18:08] adityapatwardhan commented on #232
I believe the code for increment version is not correct as it only increments the last digit of the version. Another problem that happens with this process is that the new generated module.md file is not checked back into the repo. This means, if the module.md have a version 6.0.0.0 then whenever we run platyps it is always going to generate 6.0.0.1. This is incorrect.
I recommend removing the aut

[2017-04-18 23:04] adityapatwardhan commented on #232
I have a PR to remove the auto increment of the help version from module.md. #269

[2017-04-19 14:14] jongeller commented on #268
waiting on approval from Joey, I lost write access.

[2017-05-15 06:47] vors commented on #250
Yes, definitely.
It's a great suggestion, I think the current behavior is silently ignore any text that is not a link under related links.

[2017-05-15 06:48] vors commented on #251
Hm, interesting finding. Seems like a behavior we should handle correctly.

[2017-05-15 06:49] vors commented on #252
Indeed, great suggestion!

[2017-05-15 06:53] vors commented on #253
[This test](https://github.com/PowerShell/platyPS/blob/dc164dc057d79b467140205840a1978b4080ca28/test/Markdown.MAML.Test/Renderer/MarkdownV2RendererTests.cs#L60) tests exactly this scenario. Can you provide a repro?

[2017-05-15 07:00] vors commented on #261
Hi @Alcha , sorry for the long reply

I seen that you send a PR #260 and closed it, do you want to reopen it?
It would probably require fixing the tests as well so the build passes.

[2017-05-15 07:02] vors commented on #261
I was taking the namespaces and the tags from the existing built-in help. I suspect both namespaces work as far as help engine is concerned, but it would be better to follow the doc, if there is one.

Btw, what are the other apps that you mentioned? I;m curious to learn about other tools.

[2017-05-15 07:04] vors commented on #263
`A:.md` is not a valid path on windows. We can come up with some escaping for that, but are such names are really a thing?

[2017-05-15 07:13] vors commented on #264
There are 2 types of example codesnippets:
- Code (when we use powershell moniker after triple-ticks)
- Interactive console log (we we dont)

In the former case, we should not, in the later case we should.

[2017-05-15 07:14] vors commented on #265
Oh actually it just got fixed with powershell-beta.1! Check it out :)

[2017-05-15 07:14] #265 closed

[2017-05-17 17:08] cormacpayne commented on #202
@vors Hey Sergei, one of our partners for Azure PowerShell is running into this issue when updating the help for their cmdlets. They are using the `[SupportsWildcards()]` attribute on a parameter, but the help is still showing `Accept wildcard characters: False` in the markdown after they run `Update-MarkdownHelpModule`. She pointed out that [the transformer](https://github.com/PowerShell/platyPS/

[2017-05-17 17:43] cormacpayne opened #272 "New-ExternalHelp fails with extra whitespace"
In Azure PowerShell, we use the `New-ExternalHelp` cmdlet to generate MAML help from markdown files during build. One of our partners opened a pull request to update the markdown files for their cmdlets, but the build was failing because `New-ExternalHelp` was throwing an error.

After looking at the changes that were made to the markdown files, I noticed that there was some extra whitespaces adde

[2017-06-04 00:07] vors commented on #272
@cormacpayne good finding, thank you for reporting it!

[2017-06-04 00:46] vors opened #273 "Better story for different versions/flavors of a module"
Problem
--------

Currently, platyPS doesn't have a way to re-use content between different version or flaivors of the module. I.e. https://github.com/PowerShell/PowerShell-Docs/tree/staging/reference has different top-level folders with a bunch of duplicated content.

The same thing is applicable for different flavors of the same module, i.e. Lync Server 2010, Lync Server 2013, Skype for Business

[2017-06-04 20:15] vors commented on #132
Closing old issues. If it comes up again, feel free to open a new one.

[2017-06-04 20:15] #132 closed

[2017-06-04 20:20] vors commented on #264
Related discussion #131

[2017-06-04 21:49] vors commented on #238
Removed from master, 0.7.6 is the latest version that supports the old schema.

[2017-06-04 21:49] #238 closed

[2017-06-04 22:11] vors commented on #273
To make it generic and simple to use, tags don't need to correspond to the module name or the version.
For both the parameter level and command level tags, they can be chosen as appropriate

For example

[code]

Or

[code]

Then it can be scoped with a parameter `New-ExternalHelp -ApplicableTag "Lync 2013"`
Note that omitting `applicable` would mean "applicable to all version that can be generated

[2017-06-05 05:40] vors commented on #273
First part of this work is merged into master.

[2017-06-13 04:35] joeyaiello opened #278 "Missing multiple output types"
Unfortunately, I don't have a super clean repro here, but someone internally hit this, and I think we just don't support this all-up. If we do, though, I'll go back to them and get a better repro.

Steps to reproduce
------------------
Generate Markdown help from a cmdlet that has two (or more) different output types.

[code]

Expected behavior
-----------------
The Markdown help that gets emitted

[2017-06-13 15:23] vors commented on #278
Indeed, I updated the repro.

[2017-06-18 20:57] vors commented on #273
Merged to master

[2017-06-18 20:57] #273 closed

[2017-06-29 17:21] dotps1 opened #283 "Markdown links are not properly parsed in the Related Links section"
Steps to reproduce
------------------
Markdown
[code]

Expected behavior
-----------------
output of Get-Help
[code]

Actual behavior
---------------
output of Get-Help
[code]

Environment data
----------------

0.8.0

[2017-06-29 22:03] vors commented on #283
Thank you @dotps1 !
That indeed seems weird, but kind of by design right now.
We can include a heuristic to not populate name, if name is the same as uri in the Maml Renderer.

[2017-06-30 00:29] dotps1 commented on #283
i only noticed it because i use the
[code]
that seems to be where it comes from.

[2017-07-12 16:29] cormacpayne opened #287 "Update-MarkdownHelpModule not updating the Inputs field"
Many of the markdown files for cmdlets in the Azure PowerShell repository have incorrect values for the _Inputs_ field (possibly due to our partner teams or the docs team hand-editing the markdown files). For example, the [`Add-AzureRmApplicationGatewayBackendAddressPool`](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Network/Commands.Network/help/Add-AzureRmApplicatio

[2017-07-12 18:04] vors commented on #287
Thank you for the thoughtful issue description @cormacpayne !
Yes, platyPS preserves the markdown INPUT and OUTPUT sections by design. The reason being that INPUT concept doesn't have any corresponding entity in the code, it's purely documentation thing. The OUTPUT has the corresponding concept in the code, but it's an attribute and it's used very loosely and again for documentation purposes only.

[2017-08-09 03:04] jazzdelightsme opened #290 "Output of New-MarkdownAboutHelp cannot be processed by New-ExternalHelp"
Steps to reproduce
------------------
1. `New-MarkdownAboutHelp -OutputFolder . -AboutName TestThing`
2. `New-ExternalHelp -OutputPath .\en-US .\about_TestThing.md`

Expected behavior
-----------------
it all works

Actual behavior
---------------
Warnings and errors (see below). I think it must want me to put in some v2 schema metadata, but I think New-MarkdownAboutHelp should have done that for

[2017-08-09 03:15] jazzdelightsme commented on #290
Hmm... so I tried putting in a metadata block. That got rid of the "schema version 1.0.0. is deprecated" error, and allowed it to produce output, but then there were a bunch more errors. The "external help file" metadata item seems to be ignored, but if I omit it entirely, I still get the warnings about not being able to find it and "ima use rename-me-help.xml instead".

So... I guess "about" help

[2017-08-09 10:08] Karneades opened #291 "External help not working on Ubuntu 16.04"
When using the external help for a native PowerShell commands on non-Windows platforms, the example parameter for the help command is working. When using the external help generated by platyPS and using the examples parameter on non-Windows platforms, the examples are not shown.

Steps to reproduce
------------------
Build the external help file for a module as described in the command help for `N

[2017-08-09 17:47] kenwith commented on #290
I gave a full path and got expected behavior (I think – am still new to PlatyPS).. maybe we just need to update docs?

Try something like:    New-ExternalHelp -OutputPath .\en-US\TestThing.xml .\about_TestThing.md

And if that xml already exists if you are running it multiple times you can use -Force.

From: Dan Thompson [mailto:notifications@github.com]
Sent: Tuesday, August 8, 2017 8:16 PM
To: P

[2017-08-10 01:13] jazzdelightsme commented on #290
Giving a full path does not help at all... are you using the output of New-Markdown**AboutI**Help?

[2017-08-10 03:59] vors commented on #290
Yeah, this `AboutFiles` piece can use some refactoring...
Try to poke around with https://github.com/PowerShell/platyPS/blob/master/src/platyPS/platyPS.psm1#L779

I bet the detection logic just doesn't recognize this md files as about topic files.
The schema stuff should be applicable only to the cmdlet documentation, not to about.

[2017-08-10 14:59] Karneades commented on #291
Further tests show that the help examples works on macOS (10.12.6) and module installation from PowerShellGallery with PS version 6.0.0-beta.4.

[2017-08-10 16:11] vors commented on #291
@Karneades interesting, I suspect it's an issue with powershell help system on linux. Can you, please, open an issue in https://github.com/PowerShell/PowerShell

[2017-08-10 16:32] Karneades commented on #291
The help system for native modules and also e.g. for playPS works as expected - the examples are shown normally. The normal help information for my own module are shown but no examples. It could indeed be a problem of mine and not of platyPS. I use the standard commands for building the help files (markdown and external help).

How was the external help built for platyPS? Also with `New-ExternalHe

[2017-08-10 16:58] akromm-zz opened #292 "Update-MarkdownHelp should preserve original formatting"
Some documentation improvements were reverted by platyPS in PR: https://github.com/Azure/azure-powershell/pull/4110

Is it possible to have these improvements incorporated into PlayPS?

[2017-08-11 06:57] vors commented on #291
Of course :)

Can you upload a resulted external help xml that has this problem?

[2017-08-11 07:13] Karneades commented on #291
Please find an affected help file here: https://github.com/swisscom/PowerGRR/blob/master/en-us/PowerGRR-help.xml

I tried using install-module and direct download from Github to use the help on an Ubuntu 16.04. Only -examples made issues.

On Fr., Aug. 11, 2017 at 8:57 AM, Sergei Vorobev <notifications@github.com> wrote:

[2017-08-11 18:15] brianlic-msft opened #294 "Add "powershell" label to examples markdown"
Upon moving to docs.microsoft.com, we've been asked to add "powershell" to the opening code block of each example.  Is it possible to do this so all new cmdlets have it by default?

Here's an example before:

## EXAMPLES

### Example 1: Add AIA to the specified authority
[code]

And here's an example after:

## EXAMPLES

### Example 1: Add AIA to the specified authority
[code]

[2017-08-11 20:34] vors commented on #294
Hi @brianlic-msft

Thank you for the suggestion. I had a conversation about it with @juanpablojofre and other tech writers. I see that this topic created a lot of confusion, so let me write down my thinking and maybe open a discussion about it.

This "powershell" language moniker is called [info-string](http://spec.commonmark.org/0.28/#info-string) in the commonmark spec. It says:

My interpretati

[2017-08-14 15:52] jazzdelightsme opened #298 "Add a -MaxLineLength parameter for generating external "about" help"
For "about" help, `New-ExternalHelp` generates a .txt file with no line longer than 80 characters.

But I have a project that I would like to generate help files for, and I don't like the 80-char limit--it's too narrow. I don't mind that the default is 80, but I'd like my help files to be a bit wider (maybe 100).

So I'd like to add a parameter that allows me to control the max width.

How do peop

[2017-08-14 17:51] vors commented on #298
Yes, I think optional `-MaxAboutWidth` is a great idea!

[2017-08-16 02:15] Dargmuesli opened #300 "Example Header Localization"
When I generate my markdown doc files using `New-MarkdownHelp` the output is english, but one line says `-------------------------- BEISPIEL 1 --------------------------` as shown in the screenshot below:

![Screenshot](https://user-images.githubusercontent.com/4778485/29344488-73e16b50-8238-11e7-9dc6-ad342113f320.png)

My Windows culture is German (de-DE).

When I enter the following line into a

[2017-08-16 06:39] Karneades commented on #291
I can't find the issue in the XML. I made a diff between the working platyPS external help file and PowerGRR's help but didn't spot any differences. I also used dos2unix and fileencoding / fileformat settings on Ubuntu but without success. The whole help is not working, there are not only issues with the examples.  Only the name, the syntax section and the parameters are shown without any descript

[2017-08-16 09:05] vors commented on #291
@Karneades as I mention you should open an issue in the powershell repo (https://github.com/PowerShell/PowerShell) since it looks like an issue with displaying the xml help by the powershell help system on linux and not playtPS.

[2017-08-16 09:23] Karneades commented on #291
The help system for native modules and also for platyPS works as expected - the examples are shown normally. It's probably neither a platyPS nor a PowerShell issue. It's probably a PowerGRR-specific one.

[2017-08-16 09:23] #291 closed

[2017-08-17 06:08] SamPosh opened #301 "Md files are not created for help written to ScriptMethod function"
In our powershell module many scriptmethod function is written with proper help (One example is given below) . But Platyps is not supporting ScriptMethod related help documentation.

Can this be added as a feature?

[code]

[2017-08-18 05:46] SamPosh opened #302 "Provide native support for Html based reports like doxygen"
@kilasuit Currently Platyps is producing .md based report . Tools like doxygen are providing html based report . If we convert md to html i suspect that the links in <Module>.md file will not be redirected to equvalent <functionname>.md correctly. If native support for html format is added in platyps it will be really useful.

[2017-08-18 06:49] vors commented on #302
Main PlatyPS goal is to have the source of PowerShell documentation in markdown, it's not exactly the same as the report.

Perhaps you would be interested in the psDoc project which generates beautiful htmls for ps help https://chaseflorell.github.io/powershell/2015/04/27/how-to-generate-beautiful-powershell-documentation/
https://github.com/chaseflorell/psdoc

[2017-08-23 06:11] vors commented on #292
The problem is in the module page update scenario.

[2017-08-23 06:14] #290 closed

[2017-08-23 06:34] vors commented on #301
Hm, haven't seen this comment based help pattern at all, to be honest.
Is there a way to run `Get-Help` to get the produced output from the help system?

[2017-08-23 06:38] vors commented on #300
Hi @Dargmuesli !
The `-------------------------- EXAMPLE 1 --------------------------` comes from the help content itself and not generated, so it uses whatever output the help system provides.
To see what I mean, open any maml xml that ships with powershell, and search for `-----------`. There is a separate version for every language.

So I'd say that this is by design. But in general, unfortunat

[2017-09-01 18:58] sankethka opened #305 "How to differentiate systematically between a module md and cmdlet markdown"
This is more of a question than an issue.

What is the best way to differentiate between module.md and cmdlet.md? just look at metadata?
Right now I see for cmdlet md the following metadata added:
external help file:
Module Name:
online version:
schema: 2.0.0

And for Module.md
Module Name:
Module Guid:
Download Help Link: {{Please enter FwLink manually}}
Help Version: {{Please enter version of he

[2017-09-01 18:58] sankethka commented on #305
@vors Thoughts on this?

[2017-09-01 19:50] vors commented on #305
Hm, ideally we should not open the file to understand that. I believe currently the name of the module folder should match the .md file for the module, right? We can maybe change it to some prefix, like `*.module.md`....

[2017-09-01 19:59] sankethka commented on #305
On Docs - we need to identify whats module and whats cmdlet to show and apply a custom CSS template accordingly. so I was hoping there is something within the file to get that identified.

[2017-09-02 02:04] Alcha commented on #261
Now I get to apologize for the long delay. The other apps I was referring to were primarily the mobile apps from SAPIEN. At the time I was working on the Android version and trying to write some scripts to make the help files easier to parse.

As far as the help engine is concerned though, they do work just fine.

[2017-09-02 02:08] vors commented on #261
we can go either way, ideally we should dig in the https://github.com/PowerShell/PowerShell help system code and find what's the correct schema according to code and does it care one way or another.

[2017-09-05 05:17] sankethka commented on #305
@vors any further comments?

[2017-09-05 05:45] vors commented on #305
Ah I see. I this `Module Guid:` is a good way to distinguish them.

[2017-09-05 05:45] #305 closed

[2017-09-05 11:47] qinezh opened #306 "The full type name of parameter type `Int32` is not correct"
While running [Update-MarkdownHelp](https://github.com/PowerShell/platyPS/blob/master/docs/Update-MarkdownHelp.md#-usefulltypename) with the parameter `-UseFullTypeName`, the  generated full type name of `Int32` would be `System.Nullable`1[[System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]`.

Is the behavior a bug or something by design? The expected behav

[2017-09-05 11:47] qinezh commented on #306
cc @yishengjin1413

[2017-09-05 16:54] sankethka commented on #306
@vors Qinezh is a dev in my team. pls help on this question.

[2017-09-06 07:02] #298 closed

[2017-09-06 07:06] vors commented on #306
@yishengjin1413 implemented the full type name support.

I'd suggest to strip out the Nullable part even in the full type name case.
Technically the `[System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]` is a valid dotnet type name, but definitely it's not the desired behavior.

[2017-09-06 07:18] vors commented on #302
I'm considering this question answered. Please let me know if you want to continue a discussion about it.

[2017-09-06 07:18] #302 closed

[2017-09-06 07:19] vors commented on #301
@SamPosh polite ping

[2017-09-06 07:41] SamPosh commented on #301
@vors No. When running get-help it won't be displaying help for scriptmethod

[2017-09-06 16:50] vors commented on #301
We rely on the `Get-Help` to get the help object which is used in producing markdown.
I wonder is there a way to put help on this method in such a way, that `get-help` will be able to consume it.

[2017-09-07 02:14] vors commented on #47
closing old issues

[2017-09-07 02:14] #47 closed

[2017-09-07 02:21] vors commented on #139
@Sarafian sorry for the super late reply. This is exactly my point: the maml schema does have an entry for the name, but in most cases it's not populated by any help authoring tools, but it exists in the runtime metadata. That's why your workaround works.

[2017-09-07 02:23] vors commented on #191
closing old issues

[2017-09-07 02:23] #191 closed

[2017-09-07 02:24] vors commented on #214
Fixed in #217

[2017-09-07 02:24] #214 closed

[2017-09-07 05:28] yishengjin1413 commented on #306
@vors How about use ParameterType.ToString() to get the fulltype? I tried and it return ```System.Nullable`1[System.Int32]```, which is much better for us.

[2017-09-07 05:33] vors commented on #306
@yishengjin1413 sure, go ahead

[2017-09-07 22:04] twillin912 opened #308 "New-MarkdownHelp fails when the function contains SuppressMessageAttribute("PSShouldProcess")"
Steps to reproduce
------------------
Create a function with the ShouldProcess option and add the PSScriptAnalyzer command to suppress warning about ShouldProcess.  Save the function and import the module, then run New-MarkdownHelp for this new module.

TestModule.psd1
[code]

TestModule.psm1
[code]
Expected behavior
-----------------
New markdown help files should be created as normal.

Actual be

[2017-09-08 03:47] vors commented on #308
Ah interesting. So platyPS actually doesn't have to do anything with it.
If you run `New-Function` or `Get-Help New-Function` you will get the same error.
That's because `Diagnostics.CodeAnalysis.SuppressMessageAttribute` takes 2 string arguments:

[code]

[2017-09-08 03:47] #308 closed

[2017-09-08 08:58] yishengjin1413 commented on #306
@vors I created a PR [here](https://github.com/PowerShell/platyPS/pull/309/files) to fix this issue. Please have a check.

[2017-09-08 17:20] vors commented on #306
Fixed in #309

[2017-09-08 17:20] #306 closed

[2017-10-06 22:02] dend opened #312 "Keep cmdlet aliases inside generated Markdown files"
We would like to see built in aliases in the documentation in a nice, structured way. Once we have that (ie something in the markdown file that is created by platyPS and used to create the page on Docs), it would be much easier to ingest that data into the Module Browser.

[2017-10-11 14:31] iricigor opened #314 "Multiline text conversion"
If a certain keyword in comment based help has a multiline description (commonly .NOTES section), generated .md file will have exactly the same context. But .md is getting presented differently, so lines will appear merged.

Steps to reproduce
------------------
Generate .md help file for the following script and take a look at .NOTES section
https://gist.github.com/9to5IT/9620683

Expected behavi

[2017-10-11 21:43] theficus opened #315 "Update-MarkdownHelp should support multiple threads to speed up large projects"
My project has several hundred cmdlets. I'd like to integrate platyPS into our build workflow to automatically generate stub documentation when there's changes, but with so many cmdlets, it adds 10-15 minutes to the build for Update-MarkdownHelpModule to complete.

Supporting a thread pool versus reading every single file sequentially could greatly improve performance with very large projects.

[2017-10-12 15:23] vors commented on #315
The main source of slowness in the project is our home-written markdown parser. #112 will be awesome to implement and finally switch to [markdig](https://github.com/lunet-io/markdig).

I like the idea of using threads, we can apply it to the markdown parsing for short term perf gains.

Reading files in parallel (IO itself) would not really help because:
1) reading files is a pretty small part of t

[2017-10-13 07:05] theficus commented on #315
Great info. I hadn't dug into the implementation so I just assumed it was due to sequential file access. :) Any perf improvements would be much welcome. I'd love to get this integrated into our build workflow and this is the only blocker right now. With 700+ cmdlets it takes about 10 minutes on average to run.

[2017-10-27 08:39] BernieWhite commented on #294
Currently if the ```powershell syntax is used it will be removed by Update-MarkdownHelp.

[2017-10-28 05:31] vors commented on #294
@BernieWhite good catch

[2017-11-08 18:01] TaraMeyer opened #316 "Does Platyps Support Snap-ins or only modules?"
I've had a couple of partners ask me this question in the last week and I can't find anything on the site confirming or denying snap-in support.

Can someone please confirm for me if it does and the added steps needed to execute?
Also, if it does not support snap-ins are there any plans to do so in the future?

Many thanks!

Tara

[2017-11-08 20:51] vors commented on #316
Hi Tara!
Do snap-ins support maml xml? If so then yes, since platyPS can operate purely on maml.

[2017-11-09 03:59] BernieWhite commented on #225
Might look at taking this one on, still in the latest build, and it is annoying me :)

[2017-11-09 04:34] vors commented on #225
Ah that's a good one! @BernieWhite let me know if you have any questions

[2017-11-09 05:00] BernieWhite commented on #225
Thanks. So do you think if any sort of feature switches going be required, or will trailing spaces always be removed?

[2017-11-09 09:51] BernieWhite commented on #232
@rkeithhill Are we able to close this issue? The PR was merged, and released in 0.8.0.

[2017-11-09 10:11] BernieWhite commented on #225
@vors This one turned out to be broader then expected. Existing help used in unit tests use trailing whitespace in multiple places.

It wasn't something that could easily be solved, so the fix was scoped to only address yaml blocks used for header and parameters, which will address @rkeithhill original request.

[2017-11-09 11:39] BernieWhite commented on #294
Following on, for SYNTAX sections there should be no reason why the ```powershell fenced should not be the default.

[2017-11-09 17:11] vors commented on #225
Always removed

[2017-11-09 17:15] vors commented on #225
Fixed in #225

[2017-11-10 05:16] vors commented on #294
I cannot agree with that

The SYNTAX is not a valid program in powershell and hence it would not benefit from the syntax highlighting. It's possible to find some other highlighting moniker that can produce a reasonable results, but I don't see any reason why it would be `powershell`.

To illustrate it, let's take a look at example

[code]

vs

[code]

The [...] parts are highlighted as types, not

[2017-11-10 06:18] BernieWhite commented on #294
@vors Thanks. I see your point.

[2017-11-10 22:58] TaraMeyer commented on #316
Hey Sergei!
It might be that's it the end of pretty hectic work work, but I'm not following.  What do you mean when you ask if a the snap-ins support maml xml and how would I determine if that's the case?

[2017-11-11 01:28] vors commented on #316
Does help for snap-ins ships as maml?

[2017-11-13 01:00] TaraMeyer commented on #316
Ah! I'll check.

[2017-11-17 10:14] BernieWhite commented on #312
Obviously not applicable to MAML generation, since PowerShell has it's one mechanism to resolve this :).

Wouldn't this be a TOC entry linking to the same document? or how would you see it being used?

[2017-11-17 10:34] BernieWhite commented on #223
@vors @rkeithhill So the desired behaviour is to supress CommonParameters if it doesn't exist in an existing markdown document?

[2017-11-17 11:00] BernieWhite opened #318 "Update-MarkdownHelp removes info-string from code fence"
Steps to reproduce
------------------
- Add ```powershell fences to existing cmdlet markdown help file
- Run Update-MarkdownHelp

Expected behavior
-----------------
- When syntax language for code fence has been set, persist change during Update-MarkdownHelp passes.

Actual behavior
---------------
- Syntax language in code fence is removed when Update-MarkdownHelp is called.

![image](https://us

[2017-11-17 11:00] BernieWhite commented on #318
Related to #294

[2017-11-17 11:19] BernieWhite opened #319 "Update-MarkdownHelp adds and removes blank lines"
Steps to reproduce
------------------
- In an existing cmdlet markdown document add a blank line between `## DESCRIPTION` and first line of the description text. e.g.

[code]

- With no defined related links, create a single blank directly after the `## RELATED LINKS` section.

[code]

Expected behavior
-----------------
- A single blank line created after section headers such as description shoul